/* compiled by scssphp 1.1.0 on Thu, 30 Apr 2020 22:13:20 +0000 (1.1077s) */

/* line 3, .\theme.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt !important;
  background-color: #000;
  color: white;
  font-weight: normal;
}
/* line 10, .\theme.scss */
body .xdebug-error {
  color: #000;
}
/* line 14, .\theme.scss */
body a, body a:active, body a:visited {
  text-decoration: none !important;
  color: #1c4587 !important;
}
/* line 20, .\theme.scss */
body a:hover, body a:active:hover, body a:visited:hover {
  text-decoration: underline;
  color: white !important;
}
/* line 24, .\theme.scss */
body a.qmod-tooltip, body a:active.qmod-tooltip, body a:visited.qmod-tooltip {
  font-size: unset !important;
  color: #838383 !important;
  text-decoration: none;
}
/* line 29, .\theme.scss */
body a.qmod-tooltip:hover, body a:active.qmod-tooltip:hover, body a:visited.qmod-tooltip:hover {
  color: #1c4587 !important;
}
/* line 34, .\theme.scss */
body .error {
  color: #8d0e0e;
  padding: 1rem;
  background-color: #1a1a1a;
}
/* line 40, .\theme.scss */
body .qmod-ui-tool {
  font-size: unset !important;
}
/* line 43, .\theme.scss */
/* line 44, .\theme.scss */
/* line 45, .\theme.scss */
body .qmod-ui-tool .qmod-top-chart .qmod-top-charts .qmod-entitlement {
  font-size: 75% !important;
}
/* line 51, .\theme.scss */
/* line 52, .\theme.scss */
/* line 53, .\theme.scss */
/* line 54, .\theme.scss */
/* line 55, .\theme.scss */
body .qmod-ui-tool.qmod-financials .qmod-financials-cont table.qmod-table.qmod-financials-table {
  font-size: 100% !important;
}
/* line 61, .\theme.scss */
body .qmod-ui-tool.qmod-financials .qmod-text {
  font-size: 100% !important;
}
/* line 66, .\theme.scss */
/* line 67, .\theme.scss */
/* line 68, .\theme.scss */
body .qmod-ui-tool .qmod-quotehead .qmod-head-left .qmod-entline {
  font-size: 65% !important;
  line-height: 150%;
}
/* line 73, .\theme.scss */
/* line 74, .\theme.scss */
body .qmod-ui-tool .qmod-quotehead .qmod-head-right .qmod-hl-arrow {
  top: -25px;
}
/* line 77, .\theme.scss */
/* line 78, .\theme.scss */
body .qmod-ui-tool .qmod-quotehead .qmod-head-right .qmod-daylow .qmod-daylowbar {
  background-color: #1a1a1a;
  font-size: 75% !important;
  border-radius: 4px;
  margin-top: 30px;
}
/* line 84, .\theme.scss */
/* line 85, .\theme.scss */
body .qmod-ui-tool .qmod-quotehead .qmod-head-right .qmod-daylow .qmod-daylowbar .fa.fa-caret-down {
  display: none;
}
/* line 90, .\theme.scss */
body .qmod-ui-tool .qmod-quotehead .qmod-head-right .qmod-daylow .qmod-daylowbar .qmod-barpct {
  padding: 4px;
  background-color: #1c4587 !important;
  border-radius: 4px;
}
/* line 100, .\theme.scss */
/* line 101, .\theme.scss */
/* line 102, .\theme.scss */
body .qmod-ui-tool .qmod-tool-wrap .qmod-block-wrapper .qmod-rating-box-cont {
  font-size: 60% !important;
}
/* line 105, .\theme.scss */
body .qmod-ui-tool .qmod-tool-wrap .qmod-block-wrapper .qmod-rating-box-cont .qmod-rating-full {
  font-size: unset !important;
  color: white !important;
}
/* line 113, .\theme.scss */
/* line 114, .\theme.scss */
/* line 115, .\theme.scss */
body .qmod-ui-tool .qmod-buttons-country .qmod-buttons-country-link span {
  border-radius: 3px;
}
/* line 119, .\theme.scss */
/* line 120, .\theme.scss */
body .qmod-ui-tool .qmod-buttons-country .qmod-buttons-country-link.qmod-active span {
  border: 3px solid #1c4587;
  background-color: #000;
}
/* line 128, .\theme.scss */
body .qmod-ui-tool .qmod-btn, body .qmod-ui-tool .qmod-btn.qmod-darkblue, body .qmod-ui-tool .qmod-btn li, body .qmod-ui-tool .qmod-legend li, body .qmod-ui-tool .qmod-industry-toggle {
  font-size: 100% !important;
  color: #1c4587 !important;
  border: none !important;
  background: #1a1a1a !important;
  padding: 0.8em !important;
}
/* line 139, .\theme.scss */
body .qmod-ui-tool .qmod-btn.qmod-btn-link, body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-link, body .qmod-ui-tool .qmod-btn li.qmod-btn-link, body .qmod-ui-tool .qmod-legend li.qmod-btn-link, body .qmod-ui-tool .qmod-industry-toggle.qmod-btn-link {
  border-radius: 6px !important;
}
/* line 142, .\theme.scss */
body .qmod-ui-tool .qmod-btn.qmod-btn-link:hover, body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-link:hover, body .qmod-ui-tool .qmod-btn li.qmod-btn-link:hover, body .qmod-ui-tool .qmod-legend li.qmod-btn-link:hover, body .qmod-ui-tool .qmod-industry-toggle.qmod-btn-link:hover {
  background-color: #1a1a1a !important;
}
/* line 146, .\theme.scss */
body .qmod-ui-tool .qmod-btn:hover, body .qmod-ui-tool .qmod-btn.qmod-darkblue:hover, body .qmod-ui-tool .qmod-btn li:hover, body .qmod-ui-tool .qmod-legend li:hover, body .qmod-ui-tool .qmod-industry-toggle:hover {
  color: #1c4587 !important;
  background: #0d0d0d !important;
}
/* line 150, .\theme.scss */
body .qmod-ui-tool .qmod-btn .qmod-btn, body .qmod-ui-tool .qmod-btn.qmod-darkblue .qmod-btn, body .qmod-ui-tool .qmod-btn li .qmod-btn, body .qmod-ui-tool .qmod-legend li .qmod-btn, body .qmod-ui-tool .qmod-industry-toggle .qmod-btn {
  background-color: #1a1a1a !important;
  color: white !important;
}
/* line 154, .\theme.scss */
body .qmod-ui-tool .qmod-btn .qmod-btn:hover, body .qmod-ui-tool .qmod-btn.qmod-darkblue .qmod-btn:hover, body .qmod-ui-tool .qmod-btn li .qmod-btn:hover, body .qmod-ui-tool .qmod-legend li .qmod-btn:hover, body .qmod-ui-tool .qmod-industry-toggle .qmod-btn:hover {
  color: #1c4587 !important;
  background-color: #1a1a1a !important;
}
/* line 159, .\theme.scss */
body .qmod-ui-tool .qmod-btn.qmod-active, body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-active, body .qmod-ui-tool .qmod-btn li.qmod-active, body .qmod-ui-tool .qmod-legend li.qmod-active, body .qmod-ui-tool .qmod-industry-toggle.qmod-active, body .qmod-ui-tool .qmod-btn.qmod-btn-active, body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-active, body .qmod-ui-tool .qmod-btn li.qmod-btn-active, body .qmod-ui-tool .qmod-legend li.qmod-btn-active, body .qmod-ui-tool .qmod-industry-toggle.qmod-btn-active {
  color: white !important;
  background: #0d0d0d !important;
  cursor: default;
}
/* line 165, .\theme.scss */
body .qmod-ui-tool .qmod-btn.qmod-btn-settings, body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-settings, body .qmod-ui-tool .qmod-btn li.qmod-btn-settings, body .qmod-ui-tool .qmod-legend li.qmod-btn-settings, body .qmod-ui-tool .qmod-industry-toggle.qmod-btn-settings {
  border-radius: 6px;
  padding: 8px;
  margin-right: 5px;
}
/* line 172, .\theme.scss */
/* line 173, .\theme.scss */
/* line 174, .\theme.scss */
body .qmod-ui-tool .qmod-button-industry.qmod-f-right .qmod-industry-toggle {
  padding: 6px !important;
}
/* line 180, .\theme.scss */
/* line 181, .\theme.scss */
body .qmod-ui-tool .qmod-grow-input input[type="text"] {
  color: white !important;
  padding: 2px !important;
}
/* line 187, .\theme.scss */
/* line 190, .\theme.scss */
body .qmod-ui-tool.qmod-detailedquote .qmod-quotehead, body .qmod-ui-tool.qmod-optioncs .qmod-quotehead, body .qmod-ui-tool.qmod-fullnews .qmod-quotehead {
  display: none;
}
/* line 195, .\theme.scss */
/* line 196, .\theme.scss */
body .qmod-ui-tool .qmod-button-group .qmod-btn {
  border: 1px solid #333;
  background: #1a1a1a;
}
/* line 201, .\theme.scss */
body .qmod-ui-tool .qmod-btn-active {
  color: #1c4587;
}
/* line 205, .\theme.scss */
body .qmod-ui-tool input[type="text"] {
  padding: 0.9em;
  color: white;
  background-color: #1a1a1a;
}
/* line 211, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap {
  border-radius: 6px;
  width: 150px;
}
/* line 215, .\theme.scss */
/* line 216, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn {
  background-color: #000;
  padding: 8px;
  width: 59px;
  display: inline-block;
  border-radius: 6px;
}
/* line 223, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 227, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 231, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn.qmod-toggle-active {
  background-color: #1c4587;
}
/* line 234, .\theme.scss */
body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn.qmod-toggle-active-alt {
  background-color: #1a1a1a;
}
/* line 241, .\theme.scss */
/* line 242, .\theme.scss */
/* line 243, .\theme.scss */
/* line 244, .\theme.scss */
body .qmod-ui-tool .options-table-wrap:not(.qmod-hide) .qmod-options-header.pure-g {
  background-color: #1a1a1a;
}
/* line 251, .\theme.scss */
/* line 252, .\theme.scss */
body .qmod-ui-tool .qmod-heading.qmod-hbg {
  border-radius: 8px;
  padding: 10px;
  margin: 4px;
  background-color: #000;
  color: white;
  font-size: 160%;
}
/* line 262, .\theme.scss */
/* line 263, .\theme.scss */
/* line 265, .\theme.scss */
body .qmod-ui-tool .qmod-table .qmod-textr.qmod-nmp-highlight, body .qmod-ui-tool .qmod-table .qmod-control.qmod-nmp-highlight {
  background-color: #1a1a1a !important;
  color: white !important;
}
/* line 272, .\theme.scss */
/* line 273, .\theme.scss */
/* line 274, .\theme.scss */
/* line 275, .\theme.scss */
/* line 276, .\theme.scss */
body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.slick-active, body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.qmod-active-date {
  background-color: #1a1a1a !important;
  color: white !important;
}
/* line 281, .\theme.scss */
body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.slick-active.qmod-active-date, body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.qmod-active-date.qmod-active-date {
  background-color: #0a1a33 !important;
  color: white !important;
}
/* line 291, .\theme.scss */
body .qmod-ui-tool .qmod-news-list {
  background-color: #000 !important;
}
/* line 295, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls, body .qmod-ui-tool .qmod-block-wrapper, body .qmod-ui-tool .qmod-block-wrapper-body {
  background: none;
}
/* line 300, .\theme.scss */
/* line 301, .\theme.scss */
/* line 302, .\theme.scss */
/* line 303, .\theme.scss */
/* line 304, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-chart-js .qmod-chart-display .qmod-legend.qmod-legend-list .qmod-legend-list-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-js .qmod-chart-display .qmod-legend.qmod-legend-list .qmod-legend-list-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-js .qmod-chart-display .qmod-legend.qmod-legend-list .qmod-legend-list-item {
  background-color: #1a1a1a !important;
}
/* line 312, .\theme.scss */
/* line 313, .\theme.scss */
/* line 314, .\theme.scss */
/* line 315, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-fund-head .qmod-fund-value .qmod-stylebox-con .qmod-stylebox-fill, body .qmod-ui-tool .qmod-block-wrapper .qmod-fund-head .qmod-fund-value .qmod-stylebox-con .qmod-stylebox-fill, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-fund-head .qmod-fund-value .qmod-stylebox-con .qmod-stylebox-fill {
  background-color: white;
}
/* line 322, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-quotehead, body .qmod-ui-tool .qmod-block-wrapper .qmod-quotehead, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-quotehead {
  display: none;
}
/* line 325, .\theme.scss */
/* line 326, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-quotegrid .qmod-label, body .qmod-ui-tool .qmod-block-wrapper .qmod-quotegrid .qmod-label, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-quotegrid .qmod-label {
  color: white;
}
/* line 330, .\theme.scss */
/* line 331, .\theme.scss */
/* line 332, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell, body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell, body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell {
  opacity: 1;
}
/* line 335, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-buy-trades, body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-buy-trades, body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-buy-trades {
  background-color: #0d5e14;
}
/* line 338, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-sell-trades, body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-sell-trades, body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-sell-trades {
  background-color: #8d0e0e;
}
/* line 341, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-shares-traded, body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-shares-traded, body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-shares-traded {
  background-color: #c76617;
}
/* line 345, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell, body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell, body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell {
  background-color: #1a1a1a;
}
/* line 350, .\theme.scss */
/* line 351, .\theme.scss */
/* line 352, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table tbody tr, body .qmod-ui-tool .qmod-block-wrapper .qmod-table tbody tr, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table tbody tr {
  background-color: #000;
}
/* line 356, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table .odd, body .qmod-ui-tool .qmod-block-wrapper .qmod-table .odd, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table .odd {
  background-color: #000;
  color: #838383;
}
/* line 360, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table .even, body .qmod-ui-tool .qmod-block-wrapper .qmod-table .even, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table .even {
  background-color: #1a1a1a;
  color: #b6b6b6;
}
/* line 364, .\theme.scss */
/* line 365, .\theme.scss */
/* line 366, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable .child table, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child table, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child table, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable .child tr, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child tr, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child tr, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable .child td, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child td, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child td {
  background-color: #000;
}
/* line 372, .\theme.scss */
/* line 373, .\theme.scss */
/* line 374, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable thead tr th::after, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable thead tr th::after, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable thead tr th::after {
  font-size: unset !important;
  padding-right: 10px;
  top: unset;
  position: absolute;
  right: 0px;
}
/* line 381, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable thead tr th, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable thead tr th, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable thead tr th {
  padding: 8px;
  padding-right: 26px !important;
  margin-left: 45px;
  margin-right: 0px;
}
/* line 387, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable thead tr th.sorting:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable thead tr th.sorting:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable thead tr th.sorting:hover {
  border-bottom: 1px solid #1c4587 !important;
  color: #1c4587;
}
/* line 391, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable thead tr th .sorting_desc, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable thead tr th .sorting_desc, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable thead tr th .sorting_desc, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table.dataTable thead tr th .sorting_asc, body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable thead tr th .sorting_asc, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable thead tr th .sorting_asc {
  border-bottom: 1px solid #1c4587 !important;
  color: #1c4587;
}
/* line 400, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-table i:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-table i:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table i:hover {
  color: #1c4587 !important;
}
/* line 404, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-fade, body .qmod-ui-tool .qmod-block-wrapper .qmod-fade, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-fade {
  opacity: 20%;
}
/* line 407, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-line-sep, body .qmod-ui-tool .qmod-block-wrapper .qmod-line-sep, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-line-sep {
  border-color: #1a1a1a;
}
/* line 410, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-flag-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-flag-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-flag-active {
  border-color: #838383;
}
/* line 414, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper {
  background-color: rgba(0, 0, 0, 0.65);
}
/* line 417, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup {
  background-color: #000;
  border-radius: 7px;
  border: 1px solid #838383;
}
/* line 422, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-title, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-title, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: none;
  font-weight: bold;
  padding: 1em;
}
/* line 429, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons {
  float: right;
  position: relative;
  top: -4px;
  left: -5px;
}
/* line 435, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn {
  color: #ccc;
}
/* line 438, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn i::before, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn i::before, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn i::before {
  margin: 6px;
}
/* line 441, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn:hover {
  color: #1c4587;
}
/* line 447, .\theme.scss */
/* line 448, .\theme.scss */
/* line 449, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul {
  background-color: #000 !important;
}
/* line 452, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul li, body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul li, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper .qmod-popup .qmod-popup-body .qmod-modal-content ul li {
  background-color: #000 !important;
}
/* line 462, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li {
  border-color: #4d4d4d !important;
  background-color: #1a1a1a !important;
}
/* line 467, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:hover {
  color: #1c4587 !important;
}
/* line 470, .\theme.scss */
/* line 471, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:hover span.qmod-btn-text, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:hover span.qmod-btn-text, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:hover span.qmod-btn-text, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:hover span.qmod-btn-text, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:hover span.qmod-btn-text, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:hover span.qmod-btn-text {
  color: #1c4587 !important;
}
/* line 476, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li.qmod-active {
  border-color: #333 !important;
  background-color: #333 !important;
  color: #1c4587 !important;
}
/* line 482, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:first-of-type, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:first-of-type, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:first-of-type, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:first-of-type, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:first-of-type, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:first-of-type {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
/* line 486, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:first-of-type button, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:first-of-type button, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:first-of-type button, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:first-of-type button, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:first-of-type button, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:first-of-type button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
/* line 491, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:last-of-type, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:last-of-type, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:last-of-type, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:last-of-type, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:last-of-type, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:last-of-type {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 495, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-legend li:last-of-type button, body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:last-of-type button, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:last-of-type button, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-button-group li:last-of-type button, body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:last-of-type button, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:last-of-type button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 502, .\theme.scss */
/* line 505, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown a, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab a, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab a, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab a, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier a, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a {
  text-decoration: none !important;
  background-color: #1a1a1a !important;
  color: white !important;
}
/* line 510, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a.qmod-dropdown_toggle, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a.qmod-dropdown_toggle {
  border-radius: 6px;
  line-height: 2em;
  padding: 5px;
  padding-left: 12px;
}
/* line 516, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown a:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab a:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab a:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab a:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier a:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a:hover {
  color: #1c4587 !important;
  background-color: #000 !important;
}
/* line 522, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul {
  border-radius: 6px !important;
}
/* line 525, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu {
  background-color: none !important;
}
/* line 529, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list .qmod-mode-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item {
  background: #1a1a1a !important;
}
/* line 532, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active {
  color: #1c4587 !important;
  background-color: #333 !important;
}
/* line 536, .\theme.scss */
/* line 537, .\theme.scss */
/* line 538, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item.qmod-active a.qmod-mode-item-link:hover {
  color: white !important;
  cursor: default;
}
/* line 546, .\theme.scss */
/* line 547, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link {
  background-color: #1a1a1a !important;
  border-radius: 6px !important;
  color: white !important;
}
/* line 552, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu .qmod-mode-item li a.qmod-mode-item-link:hover {
  color: #1c4587 !important;
  background-color: #333 !important;
}
/* line 559, .\theme.scss */
/* line 560, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-mode-list li input, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-dropdown ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-mode-tab ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-mode-tab ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-mode-tab ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-modifier ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu li input, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu li input {
  background-color: #1a1a1a !important;
  border-radius: 6px !important;
  color: white !important;
}
/* line 570, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-rating, body .qmod-ui-tool .qmod-block-wrapper .qmod-rating, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-rating {
  background-color: #0b5801 !important;
}
/* line 574, .\theme.scss */
/* line 575, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-ranking .qmod-rank-left, body .qmod-ui-tool .qmod-block-wrapper .qmod-ranking .qmod-rank-left, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-ranking .qmod-rank-left {
  background-color: #000;
  border: 1px solid white;
}
/* line 581, .\theme.scss */
/* line 582, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-options-table, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-options-table, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-options-table {
  font-size: 80%;
}
/* line 585, .\theme.scss */
/* line 586, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .odd, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .odd, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .odd {
  background-color: #000;
  color: #838383;
}
/* line 589, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .odd td, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .odd td, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .odd td {
  color: #838383;
}
/* line 593, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .even, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .even, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .even {
  background-color: #1a1a1a;
  color: #b6b6b6;
}
/* line 596, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .even td, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .even td, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .even td {
  color: #b6b6b6;
}
/* line 600, .\theme.scss */
/* line 601, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .qmod-tick-down td, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .qmod-tick-down td, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .qmod-tick-down td {
  color: #8d0e0e;
}
/* line 605, .\theme.scss */
/* line 606, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table .qmod-tick-up td, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .qmod-tick-up td, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .qmod-tick-up td {
  color: #8d0e0e;
}
/* line 610, .\theme.scss */
/* line 611, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table.dataTable td, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable td, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable td {
  padding: 10px;
}
/* line 614, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table.dataTable .sorting_desc, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable .sorting_desc, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable .sorting_desc, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table.dataTable .sorting_asc, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable .sorting_asc, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable .sorting_asc {
  border-bottom: 1px solid #1c4587;
  color: #1c4587;
}
/* line 620, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table i:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table i:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table i:hover {
  color: #1c4587 !important;
}
/* line 623, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr {
  padding-left: 10px;
}
/* line 625, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover {
  color: white;
}
/* line 627, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover a, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover a:visited, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a:visited, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a:visited, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover a:active, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a:active, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a:active {
  color: white !important;
}
/* line 632, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover.odd, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover.odd, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover.odd {
  background-color: #0d0d0d;
}
/* line 635, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_wrapper .qmod-table tr:hover.even, body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover.even, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover.even {
  background-color: #262626;
}
/* line 643, .\theme.scss */
/* line 645, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active {
  font-size: 100% !important;
  background: #1a1a1a !important;
  border: 1px solid #838383 !important;
  color: white;
}
/* line 653, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-active, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.current, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.current, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.current, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.current, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.current, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.current, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.current, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.current, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.current, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.current, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.current, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.current, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.current, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.current, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.current, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.current, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.current, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.current {
  background: #1a1a1a;
  background-color: #1a1a1a !important;
  color: #1c4587 !important;
  border-color: #1c4587 !important;
  cursor: default;
}
/* line 661, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.current:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.current:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.current:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.current:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.current:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.current:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.current:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.current:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.current:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.current:hover {
  cursor: default;
  background-color: #1a1a1a !important;
  color: #1c4587 !important;
  border-color: #1c4587 !important;
}
/* line 668, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-prev, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-next, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.previous, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.previous, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.previous, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.previous, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.previous, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.previous, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.previous, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.previous, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.previous, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.previous, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.previous, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.previous, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.previous, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.previous, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.previous, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.previous, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.previous, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.previous, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.next, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.next, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.next, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.next, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.next, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.next, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.next {
  color: white !important;
}
/* line 673, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.previous:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button.next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button.next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active.next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.next:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active.next:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.next:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.next:hover {
  color: #1c4587 !important;
}
/* line 677, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .qmod-pager-item:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .qmod-pager-item:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:hover, body .qmod-ui-tool .qmod-industrypeers-controls .qmod-paginator .paginate_button:active:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active:hover, body .qmod-ui-tool .qmod-industrypeers-controls .dataTables_paginate .paginate_button:active:hover, body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active:hover, body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active:hover {
  background-color: #333 !important;
  color: #1c4587 !important;
}
/* line 684, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-chart-js [data-highcharts-chart], body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-js [data-highcharts-chart], body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-js [data-highcharts-chart] {
  border-radius: 5px !important;
  border: 2px solid #1a1a1a;
}
/* line 688, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container {
  width: 95%;
}
/* line 691, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container text, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container text, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container text, body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container span, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container span, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container span {
  font-size: unset !important;
}
/* line 695, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root {
  font-size: 85% !important;
}
/* line 698, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-background, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-background, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-background {
  fill: #000;
}
/* line 701, .\theme.scss */
/* line 702, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-grid .highcharts-grid-line, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-grid .highcharts-grid-line, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-grid .highcharts-grid-line {
  stroke: #1a1a1a;
}
/* line 706, .\theme.scss */
/* line 707, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-axis-labels text, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels text, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels text, body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-axis-labels tspan, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels tspan, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels tspan, body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-axis-labels .highcharts-text-outline, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels .highcharts-text-outline, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels .highcharts-text-outline {
  stroke-width: 0;
  fill: #838383;
  font-size: unset !important;
}
/* line 715, .\theme.scss */
/* line 716, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-box, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-box, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-box {
  fill: none;
}
/* line 719, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item {
  color: #000;
}
/* line 721, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item text, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item text, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item text, body .qmod-ui-tool .qmod-industrypeers-controls .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item tspan, body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item tspan, body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item tspan {
  fill: white !important;
  color: white !important;
}
/* line 731, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-chart-plot, body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot {
  position: relative;
}
/* line 733, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-chart-plot .qmod-tab-img, body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot .qmod-tab-img, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot .qmod-tab-img {
  opacity: 1;
}
/* line 736, .\theme.scss */
body .qmod-ui-tool .qmod-industrypeers-controls .qmod-chart-plot .chart_fader, body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot .chart_fader, body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot .chart_fader {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #000;
  position: absolute;
  top: 1px;
  left: 0px;
  z-index: 999;
}
/* line 749, .\theme.scss */
/* line 750, .\theme.scss */
/* line 751, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item {
  border-color: #838383;
}
/* line 754, .\theme.scss */
/* line 755, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item .qmod-tab-item-link .qmod-tab-text {
  min-width: auto;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #1a1a1a;
  color: white;
}
/* line 762, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item .qmod-tab-item-link .qmod-tab-text:hover {
  background-color: #1a1a1a;
  color: #1c4587;
}
/* line 768, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active {
  border-color: #838383;
  border-bottom-width: 1px;
}
/* line 772, .\theme.scss */
/* line 773, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active .qmod-tab-item-link .qmod-tab-text {
  background-color: #b6b6b6;
  color: #000;
  border: 1px solid #838383;
  border-color: #1c4587;
}
/* line 779, .\theme.scss */
body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active .qmod-tab-item-link .qmod-tab-text:hover {
  cursor: default;
}
/* line 789, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay {
  background: rgba(0, 0, 0, 0.7);
}
/* line 792, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal {
  background-color: #000;
  border-radius: 7px;
}
/* line 796, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar {
  background-color: #1a1a1a;
}
/* line 799, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button {
  border: none;
  background: none;
  padding: 0px;
}
/* line 804, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button .fa {
  color: #838383;
}
/* line 807, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button:hover {
  background: none !important;
}
/* line 810, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button:hover .fa {
  color: white;
}
/* line 816, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-body {
  background-color: #000;
}
/* line 819, .\theme.scss */
/* line 820, .\theme.scss */
/* line 821, .\theme.scss */
body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-body .highcharts-axis-labels text tspan {
  font-size: 10pt !important;
}
/* line 830, .\theme.scss */
body .flexbox {
  position: relative;
}
/* line 832, .\theme.scss */
body .flexbox .row {
  position: relative;
  width: 100%;
  top: 0px;
  min-height: 100px;
}
/* line 838, .\theme.scss */
body .flexbox .row .header {
  width: auto;
  position: relative;
  padding-top: 8px;
  margin: 1em;
}
/* line 844, .\theme.scss */
body .flexbox .row .search {
  position: absolute;
  top: -20px;
  right: 10px;
}
/* line 848, .\theme.scss */
body .flexbox .row .search .qmod-symbollookup {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666;
  box-shadow: none;
}
/* line 857, .\theme.scss */
/* line 858, .\theme.scss */
/* line 860, .\theme.scss */
body .qm-tool-wrap .qmodii .application {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: white;
}
/* line 865, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-select__selections {
  padding-left: 10px;
  color: white;
  border: 1px solid #1a1a1a;
}
/* line 870, .\theme.scss */
/* line 871, .\theme.scss */
/* line 872, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-select-list .v-list.v-list--dense {
  background-color: #1a1a1a;
}
/* line 875, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-select-list .v-list.v-list--dense .v-list__tile {
  font-size: 100% !important;
}
/* line 878, .\theme.scss */
/* line 879, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-select-list .v-list.v-list--dense .v-list__tile .v-list__tile__content .v-list__tile__title {
  font-size: 100% !important;
  color: white;
}
/* line 889, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-label {
  color: white !important;
}
/* line 893, .\theme.scss */
/* line 894, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-input input {
  color: white !important;
}
/* line 899, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs {
  margin-top: 15px;
}
/* line 902, .\theme.scss */
/* line 903, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary {
  background-color: #000 !important;
}
/* line 906, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon {
  background-color: #1a1a1a;
}
/* line 909, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon.v-tabs__icon--prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 913, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon.v-tabs__icon--next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 918, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon:hover {
  background-color: #1c4587 !important;
}
/* line 923, .\theme.scss */
/* line 924, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container {
  height: 38px;
}
/* line 927, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div {
  font-size: unset !important;
  background-color: #000;
}
/* line 931, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item {
  opacity: 1;
  color: white !important;
  background-color: #1a1a1a !important;
}
/* line 935, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item:hover {
  color: white !important;
  background-color: #4d4d4d !important;
}
/* line 940, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item.v-tabs__item--active {
  color: white !important;
  background-color: #1c4587 !important;
}
/* line 946, .\theme.scss */
/* line 947, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__slider.accent {
  background-color: #060f1d !important;
  border-color: #060f1d !important;
}
/* line 952, .\theme.scss */
/* line 953, .\theme.scss */
/* line 954, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__bar .v-tabs__div:hover {
  background-color: white !important;
}
/* line 964, .\theme.scss */
/* line 965, .\theme.scss */
/* line 966, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__title .headline {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 972, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__text {
  padding: 0 1em 0 1em;
  background-color: #1a1a1a;
  color: white;
}
/* line 977, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__text .qmodii-symbolookup-bottom {
  position: relative;
  top: -15px;
}
/* line 981, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__text .v-window {
  background-color: #000;
  color: white;
}
/* line 986, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__actions {
  /*position: absolute;
   top: 0px;
   right: 0px;*/
  background-color: #1c4587;
  font-weight: bold;
}
/* line 992, .\theme.scss */
/* line 993, .\theme.scss */
body .qm-tool-wrap .qmodii .application .v-card .v-card__actions .green--text .text--darken-1 {
  color: white;
  caret-color: white;
}
/* line 1001, .\theme.scss */
/* line 1002, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary {
  color: white;
}
/* line 1005, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary:hover {
  background-color: #1c4587 !important;
}
/* line 1008, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary:hover::before {
  color: white !important;
  background-color: #4d4d4d !important;
}
/* line 1013, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary::before {
  color: white !important;
  opacity: 1;
  padding-top: 8px;
  background-color: #1a1a1a !important;
}
/* line 1021, .\theme.scss */
/* line 1022, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-navigator-mask-inside {
  fill: white;
  opacity: 0.1;
}
/* line 1026, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-navigator-handle, body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-scrollbar-thumb, body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-scrollbar-button {
  fill: white !important;
}
/* line 1031, .\theme.scss */
/* line 1032, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-label.highcharts-tooltip-box {
  font-size: 90% !important;
}
/* line 1035, .\theme.scss */
/* line 1036, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-label.highcharts-point .highcharts-label-box {
  stroke: #1c4587;
  fill: #1c4587;
}
/* line 1040, .\theme.scss */
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-label.highcharts-point text {
  color: white !important;
}
/* line 1047, .\theme.scss */
/* line 1048, .\theme.scss */
body .qm-tool-wrap .qmodii .qmodii-symbolookup .qmodii-tab-content {
  height: auto;
}
/* line 1052, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn {
  font-size: 100% !important;
  background-color: #1a1a1a !important;
  color: #ccc !important;
  border-radius: 8px;
}
/* line 1058, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn .v-btn__content {
  font-size: unset !important;
}
/* line 1061, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn .v-btn__content .v-icon {
  color: white;
}
/* line 1065, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn.v-btn--floating:not(.v-btn--depressed):not(.v-btn--flat) {
  box-shadow: 0 3px 5px -1px #252525, 0 6px 10px 0 #353535, 0 1px 18px 0 #353535;
}
/* line 1068, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn:hover {
  background-color: #4d4d4d !important;
  color: white !important;
}
/* line 1072, .\theme.scss */
/* line 1073, .\theme.scss */
body .qm-tool-wrap .qmodii .v-btn.blue--text.text--darken-1 {
  color: #1c4587;
  font-weight: bold;
}
/* line 1080, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input {
  font-size: unset !important;
  color: white;
}
/* line 1084, .\theme.scss */
/* line 1085, .\theme.scss */
/* line 1086, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot {
  border-radius: 6px;
  border: 2px solid #1a1a1a;
}
/* line 1090, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-label {
  transform: translateY(-27px) scale(0.75);
  color: #ccc;
}
/* line 1094, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-label.v-label--active {
  color: #1c4587;
}
/* line 1098, .\theme.scss */
/* line 1099, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-select__selections .v-select__selection {
  color: white;
}
/* line 1102, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-select__selections input {
  color: white;
}
/* line 1106, .\theme.scss */
/* line 1107, .\theme.scss */
/* line 1108, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-input__append-inner .v-input__icon .v-icon {
  color: white;
}
/* line 1117, .\theme.scss */
/* line 1118, .\theme.scss */
body .qm-tool-wrap .qmodii .v-input.v-text-field .v-label {
  left: 0px;
  right: auto;
  position: absolute;
  transform: translateY(-18px) scale(0.75);
}
/* line 1126, .\theme.scss */
/* line 1127, .\theme.scss */
/* line 1128, .\theme.scss */
/* line 1129, .\theme.scss */
body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card {
  border-radius: 12px;
}
/* line 1132, .\theme.scss */
body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet {
  background-color: #1a1a1a;
}
/* line 1135, .\theme.scss */
/* line 1136, .\theme.scss */
body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__title .headline {
  color: white;
}
/* line 1140, .\theme.scss */
body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__text {
  color: white;
}
/* line 1143, .\theme.scss */
body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__actions {
  color: white;
  background-color: #1a1a1a;
}
/* line 1152, .\theme.scss */
body .qm-tool-wrap .qmodii .primary--text {
  color: white !important;
}
/* line 1157, .\theme.scss */
/* line 1158, .\theme.scss */
body .flatpickr-calendar .flatpickr-month {
  background-color: #1a1a1a;
  color: white;
  fill: white;
}
/* line 1163, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer {
  background: #1a1a1a;
}
/* line 1166, .\theme.scss */
/* line 1167, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays {
  background-color: #1a1a1a;
}
/* line 1170, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays .flatpickr-weekday {
  background-color: #1a1a1a;
  color: white;
}
/* line 1175, .\theme.scss */
/* line 1176, .\theme.scss */
/* line 1177, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day {
  color: white;
}
/* line 1180, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.prevMonthDay {
  color: white;
}
/* line 1183, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.selected {
  background: #1c4587;
}
/* line 1186, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.disabled {
  color: #6a6a6a;
}
/* line 1189, .\theme.scss */
body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day:hover {
  color: #1c4587;
}
/* line 1200, .\theme.scss */
/* line 1201, .\theme.scss */
#dev_form select {
  max-width: min-content;
}
/*# sourceMappingURL=theme.map */