body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  background-color: #000;
  color: white;
}

body a,
body a:active,
body a:visited {
  text-decoration: none !important;
  color: #295e91 !important;
}

body a:hover,
body a:active:hover,
body a:visited:hover {
  text-decoration: underline;
  color: white !important;
}

body a.qmod-tooltip,
body a:active.qmod-tooltip,
body a:visited.qmod-tooltip {
  color: #838383 !important;
  text-decoration: none;
}

body a.qmod-tooltip:hover,
body a:active.qmod-tooltip:hover,
body a:visited.qmod-tooltip:hover {
  color: #295e91 !important;
}

body .error {
  color: #8d0e0e;
  padding: 1rem;
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-btn,
body .qmod-ui-tool .qmod-btn.qmod-darkblue,
body .qmod-ui-tool .qmod-btn li,
body .qmod-ui-tool .qmod-legend li {
  color: white;
  border: none;
  background: #0d0d0d;
  padding: 0.8em;
}

body .qmod-ui-tool .qmod-btn.qmod-btn-link,
body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-link,
body .qmod-ui-tool .qmod-btn li.qmod-btn-link,
body .qmod-ui-tool .qmod-legend li.qmod-btn-link {
  border-radius: 6px;
}

body .qmod-ui-tool .qmod-btn.qmod-btn-link:hover,
body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-link:hover,
body .qmod-ui-tool .qmod-btn li.qmod-btn-link:hover,
body .qmod-ui-tool .qmod-legend li.qmod-btn-link:hover {
  background: none;
}

body .qmod-ui-tool .qmod-btn:hover,
body .qmod-ui-tool .qmod-btn.qmod-darkblue:hover,
body .qmod-ui-tool .qmod-btn li:hover,
body .qmod-ui-tool .qmod-legend li:hover {
  color: #295e91;
  background: #0d0d0d;
}

body .qmod-ui-tool .qmod-btn .qmod-btn,
body .qmod-ui-tool .qmod-btn.qmod-darkblue .qmod-btn,
body .qmod-ui-tool .qmod-btn li .qmod-btn,
body .qmod-ui-tool .qmod-legend li .qmod-btn {
  background-color: #1a1a1a;
  color: white;
}

body .qmod-ui-tool .qmod-btn .qmod-btn:hover,
body .qmod-ui-tool .qmod-btn.qmod-darkblue .qmod-btn:hover,
body .qmod-ui-tool .qmod-btn li .qmod-btn:hover,
body .qmod-ui-tool .qmod-legend li .qmod-btn:hover {
  color: #295e91;
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-btn.qmod-active, body .qmod-ui-tool .qmod-btn.qmod-btn-active,
body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-active,
body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-active,
body .qmod-ui-tool .qmod-btn li.qmod-active,
body .qmod-ui-tool .qmod-btn li.qmod-btn-active,
body .qmod-ui-tool .qmod-legend li.qmod-active,
body .qmod-ui-tool .qmod-legend li.qmod-btn-active {
  background-color: #000;
  color: #295e91;
  cursor: default;
}

body .qmod-ui-tool .qmod-btn.qmod-btn-settings,
body .qmod-ui-tool .qmod-btn.qmod-darkblue.qmod-btn-settings,
body .qmod-ui-tool .qmod-btn li.qmod-btn-settings,
body .qmod-ui-tool .qmod-legend li.qmod-btn-settings {
  border-radius: 6px;
  padding: 8px;
  margin-right: 5px;
}

body .qmod-ui-tool.qmod-detailedquote .qmod-quotehead, body .qmod-ui-tool.qmod-optioncs .qmod-quotehead, body .qmod-ui-tool.qmod-fullnews .qmod-quotehead {
  display: none;
}

body .qmod-ui-tool .qmod-button-group .qmod-btn {
  border: 1px solid #333333;
  background: #1a1a1a;
}

body .qmod-ui-tool .qmod-btn-active {
  color: #295e91;
}

body .qmod-ui-tool input[type="text"] {
  padding: 0.9em;
  color: white;
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-toggle-wrap {
  border-radius: 6px;
  width: 150px;
}

body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn {
  background-color: #000;
  padding: 8px;
  width: 59px;
  display: inline-block;
  border-radius: 6px;
}

body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn.qmod-toggle-active {
  background-color: #295e91;
}

body .qmod-ui-tool .qmod-toggle-wrap.qmod-dropdown .qmod-toggle-btn.qmod-toggle-active-alt {
  background-color: #1a1a1a;
}

body .qmod-ui-tool .options-table-wrap:not(.qmod-hide) .qmod-options-header.pure-g {
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-heading.qmod-hbg {
  border-radius: 8px;
  padding: 10px;
  margin: 4px;
  background-color: #000;
  color: white;
  font-size: 160%;
}

body .qmod-ui-tool .qmod-table .qmod-textr.qmod-nmp-highlight,
body .qmod-ui-tool .qmod-table .qmod-control.qmod-nmp-highlight {
  background-color: #838383 !important;
  color: #000 !important;
}

body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.slick-active, body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.qmod-active-date {
  background-color: #1a1a1a !important;
  color: white !important;
}

body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.slick-active.qmod-active-date, body .qmod-ui-tool .qmod-option-dates.slick-slider .slick-list .slick-slide.qmod-active-date.qmod-active-date {
  background-color: #132a41 !important;
  color: white !important;
}

body .qmod-ui-tool .qmod-news-list {
  background-color: #000 !important;
}

body .qmod-ui-tool .qmod-block-wrapper,
body .qmod-ui-tool .qmod-block-wrapper-body {
  background: none;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-fund-head .qmod-fund-value .qmod-stylebox-con .qmod-stylebox-fill,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-fund-head .qmod-fund-value .qmod-stylebox-con .qmod-stylebox-fill {
  background-color: white;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-quotehead,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-quotehead {
  display: none;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-quotegrid .qmod-label,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-quotegrid .qmod-label {
  color: white;
}

body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell,
body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell {
  opacity: 1;
}

body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-buy-trades,
body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-buy-trades {
  background-color: #0d5e14;
}

body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-sell-trades,
body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-sell-trades {
  background-color: #8d0e0e;
}

body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-shares-traded,
body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell.qmod-shares-traded {
  background-color: #c76617;
}

body .qmod-ui-tool .qmod-block-wrapper.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell,
body .qmod-ui-tool .qmod-block-wrapper-body.qmod-section-insidersummary .qmod-panel-cell .qmod-panel-subcell {
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table tbody tr,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table tbody tr {
  background-color: #000;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table .odd,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table .odd {
  background-color: #000;
  color: #838383;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table .even,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table .even {
  background-color: #1a1a1a;
  color: #b6b6b6;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child table,
body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child tr,
body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .child td,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child table,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child tr,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .child td {
  background-color: #000;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable th::after,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable th::after {
  padding-right: 1px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable th.sorting:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable th.sorting:hover {
  border-bottom: 1px solid #295e91 !important;
  color: #295e91;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .sorting_desc,
body .qmod-ui-tool .qmod-block-wrapper .qmod-table.dataTable .sorting_asc,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .sorting_desc,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table.dataTable .sorting_asc {
  border-bottom: 1px solid #295e91 !important;
  color: #295e91;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-table i:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-table i:hover {
  color: #295e91 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-fade,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-fade {
  opacity: 20%;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-line-sep,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-line-sep {
  border-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-flag-active,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-flag-active {
  border-color: #838383;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup-wrapper,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup-wrapper {
  background-color: rgba(0, 0, 0, 0.65);
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup {
  background-color: #000;
  border-radius: 7px;
  border: 1px solid #838383;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup .qmod-popup-title,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup .qmod-popup-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: none;
  font-weight: bold;
  padding: 1em;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons {
  float: right;
  position: relative;
  top: -4px;
  left: -5px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn {
  color: #cccccc;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn i::before,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn i::before {
  margin: 6px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-popup .qmod-popup-title .qmod-popup-titlebar-buttons .qmod-btn:hover {
  color: #295e91;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li,
body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li {
  border-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:first-of-type,
body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:first-of-type,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:first-of-type,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:first-of-type {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:first-of-type button,
body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:first-of-type button,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:first-of-type button,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:first-of-type button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:last-of-type,
body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:last-of-type,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:last-of-type,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:last-of-type {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-legend li:last-of-type button,
body .qmod-ui-tool .qmod-block-wrapper .qmod-button-group li:last-of-type button,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-legend li:last-of-type button,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-button-group li:last-of-type button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul {
  border-radius: 6px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu {
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown ul.qmod-dropdown-menu li input,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier ul.qmod-dropdown-menu li input,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown ul.qmod-dropdown-menu li input,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier ul.qmod-dropdown-menu li input {
  background-color: #333333;
  border: 1ps solid #838383;
  border-radius: 6px;
  color: #b6b6b6;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a {
  text-decoration: none;
  background-color: #1a1a1a !important;
  color: white !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a.qmod-dropdown_toggle,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a.qmod-dropdown_toggle,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a.qmod-dropdown_toggle,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a.qmod-dropdown_toggle {
  border-radius: 6px;
  line-height: 2em;
  padding: 5px;
  padding-left: 12px;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-dropdown a:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-modifier a:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-dropdown a:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-modifier a:hover {
  color: #295e91 !important;
  background-color: #000 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-rating,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-rating {
  background-color: #0b5801 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-ranking .qmod-rank-left,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-ranking .qmod-rank-left {
  background-color: #000;
  border: 1px solid white;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-options-table,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-options-table {
  font-size: 80%;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .odd,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .odd {
  background-color: #000;
  color: #838383;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .odd td,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .odd td {
  color: #838383;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .even,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .even {
  background-color: #1a1a1a;
  color: #b6b6b6;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .even td,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .even td {
  color: #b6b6b6;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .qmod-tick-down td,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .qmod-tick-down td {
  color: #8d0e0e;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table .qmod-tick-up td,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table .qmod-tick-up td {
  color: #8d0e0e;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable td,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable td {
  padding: 10px;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable .sorting_desc,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table.dataTable .sorting_asc,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable .sorting_desc,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table.dataTable .sorting_asc {
  border-bottom: 1px solid #295e91;
  color: #295e91;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table i:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table i:hover {
  color: #295e91 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr {
  padding-left: 10px;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover {
  color: white;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a:visited,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover a:active,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a:visited,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover a:active {
  color: white !important;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover.odd,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover.odd {
  background-color: #0d0d0d;
}

body .qmod-ui-tool .qmod-block-wrapper .dataTables_wrapper .qmod-table tr:hover.even,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_wrapper .qmod-table tr:hover.even {
  background-color: #262626;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active {
  background: #1a1a1a !important;
  border: 1px solid #838383 !important;
  color: white;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-active, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.current,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.current,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.current,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.current,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.current,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.current,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.current,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.current,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.current,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.current,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.current,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-active,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.current {
  background: #1a1a1a;
  background-color: #1a1a1a !important;
  color: #295e91 !important;
  border-color: #295e91 !important;
  cursor: default;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-active:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.current:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.current:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.current:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.current:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.current:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.current:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.current:hover {
  cursor: default;
  background-color: #1a1a1a !important;
  color: #295e91 !important;
  border-color: #295e91 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-prev, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-next, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.previous, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.next,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.previous,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.next,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.previous,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.previous,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.previous,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.previous,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-prev,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-next,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.previous,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.next {
  color: white !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-prev:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.qmod-pager-next:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.previous:hover, body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item.next:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button.next:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active.next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item.next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button.next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button.next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-prev:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.qmod-pager-next:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.previous:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active.next:hover {
  color: #295e91 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .qmod-pager-item:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:hover,
body .qmod-ui-tool .qmod-block-wrapper .qmod-paginator .paginate_button:active:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .qmod-pager-item:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:hover,
body .qmod-ui-tool .qmod-block-wrapper .dataTables_paginate .paginate_button:active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .qmod-pager-item:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-paginator .paginate_button:active:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .qmod-pager-item:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:hover,
body .qmod-ui-tool .qmod-block-wrapper-body .dataTables_paginate .paginate_button:active:hover {
  background-color: #333333 !important;
  color: #295e91 !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-js [data-highcharts-chart],
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-js [data-highcharts-chart] {
  border-radius: 5px !important;
  border: 2px solid #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container {
  width: 95%;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-background,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-background {
  fill: #000;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-grid .highcharts-grid-line,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-grid .highcharts-grid-line {
  stroke: #1a1a1a;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels text,
body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels tspan,
body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-axis-labels .highcharts-text-outline,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels text,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels tspan,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-axis-labels .highcharts-text-outline {
  stroke-width: 0;
  fill: #838383;
  font-size: 90% !important;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-box,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-box {
  fill: none;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item {
  color: #000;
}

body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item text,
body .qmod-ui-tool .qmod-block-wrapper .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item tspan,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item text,
body .qmod-ui-tool .qmod-block-wrapper-body .highcharts-container .highcharts-root .highcharts-legend .highcharts-legend-item tspan {
  fill: white !important;
  color: white !important;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot {
  position: relative;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot .qmod-tab-img,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot .qmod-tab-img {
  opacity: 1;
}

body .qmod-ui-tool .qmod-block-wrapper .qmod-chart-plot .chart_fader,
body .qmod-ui-tool .qmod-block-wrapper-body .qmod-chart-plot .chart_fader {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #000;
  position: absolute;
  top: 1px;
  left: 0px;
  z-index: 999;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item {
  border-color: #838383;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item .qmod-tab-item-link .qmod-tab-text {
  min-width: auto;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #1a1a1a;
  color: white;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item .qmod-tab-item-link .qmod-tab-text:hover {
  background-color: #1a1a1a;
  color: #295e91;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active {
  border-color: #838383;
  border-bottom-width: 1px;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active .qmod-tab-item-link .qmod-tab-text {
  background-color: #b6b6b6;
  color: #000;
  border: 1px solid #838383;
  border-color: #295e91;
}

body .qmod-ui-tool .qmod-tab-container .qmod-tab-list .qmod-tab-item.qmod-active .qmod-tab-item-link .qmod-tab-text:hover {
  cursor: default;
}

body .qmod-ui-tool .qmod-modal-overlay {
  background: rgba(0, 0, 0, 0.9);
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal {
  border-radius: 7px;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar {
  background-color: #1a1a1a;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button {
  border: none;
  background: none;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button .fa {
  color: #838383;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-titlebar button:hover .fa {
  color: white;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-body {
  background-color: #000;
}

body .qmod-ui-tool .qmod-modal-overlay .qmod-ui-modal .qmod-ui-modal-body .highcharts-axis-labels text tspan {
  font-size: 10pt !important;
}

body .flexbox {
  position: relative;
}

body .flexbox .row {
  position: relative;
  width: 100%;
  top: 0px;
  min-height: 100px;
}

body .flexbox .row .header {
  width: auto;
  position: relative;
  padding-top: 8px;
  margin: 1em;
}

body .flexbox .row .search {
  position: absolute;
  top: -20px;
  right: 10px;
}

body .flexbox .row .search .qmod-symbollookup {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .qm-tool-wrap .qmodii .application {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: white;
}

body .qm-tool-wrap .qmodii .application .v-label {
  color: white !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs {
  margin-top: 15px;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary {
  background-color: #000 !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon {
  background-color: #1a1a1a;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon.v-tabs__icon--prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon.v-tabs__icon--next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar.primary .v-icon:hover {
  background-color: #295e91 !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container {
  height: 38px;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div {
  background-color: #000;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item {
  opacity: 1;
  color: white !important;
  background-color: #1a1a1a !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item:hover {
  color: white !important;
  background-color: #4d4d4d !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__div .v-tabs__item.v-tabs__item--active {
  color: white !important;
  background-color: #295e91 !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__slider.accent {
  background-color: #0d1e2e !important;
  border-color: #0d1e2e !important;
}

body .qm-tool-wrap .qmodii .application .v-tabs .v-tabs__bar .v-tabs__wrapper .v-tabs__container .v-tabs__bar .v-tabs__div:hover {
  background-color: white !important;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__title .headline {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__text {
  padding: 0 1em 0 1em;
  background-color: #1a1a1a;
  color: white;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__text .qmodii-symbolookup-bottom {
  position: relative;
  top: -15px;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__text .v-window {
  background-color: #000;
  color: white;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__actions {
  /*position: absolute;
            top: 0px;
            right: 0px;*/
  background-color: #295e91;
  font-weight: bold;
}

body .qm-tool-wrap .qmodii .application .v-card .v-card__actions .green--text .text--darken-1 {
  color: white;
  caret-color: white;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary {
  color: white;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary:hover {
  background-color: #295e91 !important;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary:hover::before {
  color: white !important;
  background-color: #4d4d4d !important;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-addCompare .primary::before {
  color: white !important;
  opacity: 1;
  padding-top: 8px;
  background-color: #1a1a1a !important;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-navigator-mask-inside {
  fill: white;
  opacity: 0.1;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-navigator-handle,
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-scrollbar-thumb,
body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-scrollbar-button {
  fill: white !important;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-label.highcharts-point .highcharts-label-box {
  stroke: #295e91;
  fill: #295e91;
}

body .qm-tool-wrap .qmodii .application .qmodii-advChart-chart .highcharts-label.highcharts-point text {
  color: white !important;
}

body .qm-tool-wrap .qmodii .qmodii-symbolookup .qmodii-tab-content {
  height: auto;
}

body .qm-tool-wrap .qmodii .v-btn {
  background-color: #1a1a1a !important;
  color: #cccccc !important;
}

body .qm-tool-wrap .qmodii .v-btn .v-btn__content .v-icon {
  color: white;
}

body .qm-tool-wrap .qmodii .v-btn.v-btn--floating:not(.v-btn--depressed):not(.v-btn--flat) {
  -webkit-box-shadow: 0 3px 5px -1px #252525, 0 6px 10px 0 #353535, 0 1px 18px 0 #353535;
          box-shadow: 0 3px 5px -1px #252525, 0 6px 10px 0 #353535, 0 1px 18px 0 #353535;
}

body .qm-tool-wrap .qmodii .v-btn:hover {
  background-color: #4d4d4d !important;
  color: white !important;
}

body .qm-tool-wrap .qmodii .v-btn.blue--text.text--darken-1 {
  color: #295e91;
  font-weight: bold;
}

body .qm-tool-wrap .qmodii .v-select .v-select__selections {
  padding-left: 10px;
  color: white;
  border: 1px solid #1a1a1a;
}

body .qm-tool-wrap .qmodii .v-input {
  color: white;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot {
  border-radius: 6px;
  border: 2px solid #1a1a1a;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-label {
  -webkit-transform: translateY(-27px) scale(0.75);
          transform: translateY(-27px) scale(0.75);
  color: #cccccc;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-label.v-label--active {
  color: #295e91;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-select__selections .v-select__selection {
  color: white;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-select__selections input {
  color: white;
}

body .qm-tool-wrap .qmodii .v-input .v-input__control .v-input__slot .v-select__slot .v-input__append-inner .v-input__icon .v-icon {
  color: white;
}

body .qm-tool-wrap .qmodii .v-input .v-menu__content .v-select-list .v-list {
  background-color: #1a1a1a;
}

body .qm-tool-wrap .qmodii .v-input .v-menu__content .v-select-list .v-list .listitem .v-list__tile .v-list__tile__content .v-list__tile__title {
  color: white;
}

body .qm-tool-wrap .qmodii .v-input.v-text-field .v-label {
  left: 0px;
  right: auto;
  position: absolute;
  -webkit-transform: translateY(-18px) scale(0.75);
          transform: translateY(-18px) scale(0.75);
}

body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card {
  border-radius: 12px;
}

body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet {
  background-color: #1a1a1a;
}

body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__title .headline {
  color: white;
}

body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__text {
  color: white;
}

body .qm-tool-wrap .qmodii .v-dialog__content .v-dialog .qmodii-modal-content .v-card.v-sheet .v-card__actions {
  color: white;
  background-color: #1a1a1a;
}

body .qm-tool-wrap .qmodii .primary--text {
  color: white !important;
}

body .flatpickr-calendar .flatpickr-month {
  background-color: #1a1a1a;
  color: white;
  fill: white;
}

body .flatpickr-calendar .flatpickr-innerContainer {
  background: #1a1a1a;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays {
  background-color: #1a1a1a;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-weekdays .flatpickr-weekday {
  background-color: #1a1a1a;
  color: white;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day {
  color: white;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.prevMonthDay {
  color: white;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.selected {
  background: #295e91;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.disabled {
  color: #6a6a6a;
}

body .flatpickr-calendar .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day:hover {
  color: #295e91;
}
/*# sourceMappingURL=darkTheme.css.map */