$primary: white;
$accent: #295e91;
$light: #838383;
$lighter: lighten($light, 20);
$darker: #000;
$dark: lighten($darker, 10);
$background: $darker;
$text: $primary;
$error: #8d0e0e;
$warning: #c76617;
$success: #0d5e14;
$upColor: $success;
$downColor: $error;

$chgrd: #474747;

$fontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize: 10pt;

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $background;
  color: $text;

  a,
  a:active,
  a:visited {
    text-decoration: none !important;
    color: $accent !important;

    &:hover {
      text-decoration: underline;
      color: $primary !important;
    }
    &.qmod-tooltip {
      color: $light !important;
      text-decoration: none;
      &:hover {
        color: $accent !important;
      }
    }
  }
  .error {
    color: $error;
    padding: 1rem;
    background-color: lighten($background, 10);
  }
  
  .qmod-ui-tool {
    .qmod-btn,
    .qmod-btn.qmod-darkblue,
    .qmod-btn li,
    .qmod-legend li {
      color: $text;
      border: none;
      background: darken($dark, 5);
      padding: 0.8em;

      &.qmod-btn-link {
        border-radius: 6px;
        &:hover {
          background: none;
        }
      }

      &:hover {
        color: $accent;
        background: darken($dark, 5);
      }
      .qmod-btn {
        background-color: $dark;
        color: $primary;
        &:hover {
          color: $accent;
          background-color: lighten($darker, 10);
        }
      }
      &.qmod-active,
      &.qmod-btn-active {
        background-color: $darker;
        color: $accent;
        cursor: default;
      }
      &.qmod-btn-settings {
        border-radius: 6px;
        padding: 8px;
        margin-right: 5px;
      }
    }
    
    &.qmod-detailedquote,
    &.qmod-optioncs,
    &.qmod-fullnews {
      .qmod-quotehead {
        display: none;
      }
    }

    .qmod-button-group {
      .qmod-btn {
        border: 1px solid lighten($dark, 10);
        background: $dark;
      }
    }
    .qmod-btn-active {
      color: $accent;
    }

    input[type="text"] {
      padding: 0.9em;
      color: $text;
      background-color: $dark;
    }

    .qmod-toggle-wrap {
      border-radius: 6px;
      width: 150px;

      &.qmod-dropdown {
        .qmod-toggle-btn {
          background-color: $darker;
          padding: 8px;
          width: 59px;
          display: inline-block;
          border-radius: 6px;
          
          &:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          &.qmod-toggle-active {
            background-color: $accent;
          }
          &.qmod-toggle-active-alt {
            background-color: $dark;
          }
        }
      }
    }
    
    .options-table-wrap {
      &:not(.qmod-hide) {
        .qmod-options-header {
          &.pure-g {
            background-color: $dark;
          }
        }
      }
    }

    .qmod-heading {
      &.qmod-hbg {
        border-radius: 8px;
        padding: 10px;
        margin: 4px;
        background-color: $darker;
        color: $primary;
        font-size: 160%;
      }
    }

    .qmod-table {
      .qmod-textr,
      .qmod-control {
        &.qmod-nmp-highlight {
          background-color: $light !important;
          color: $darker !important;
        }
      }
    }

    .qmod-option-dates {
      &.slick-slider {
        .slick-list {
          .slick-slide {
            &.slick-active,
            &.qmod-active-date {
              background-color: $dark !important;
              color: $primary !important;

              &.qmod-active-date {
                background-color: darken($accent, 20) !important;
                color: $primary !important;
              }
            }
          }
        }
      }
    }

    .qmod-news-list {
      background-color: $darker !important;
    }

    .qmod-block-wrapper,
    .qmod-block-wrapper-body {
      background: none;

      .qmod-fund-head {
        .qmod-fund-value {
          .qmod-stylebox-con {
            .qmod-stylebox-fill {
              background-color: $primary;
            }
          }
        }
      }

      .qmod-quotehead {
        display: none;
      }
      .qmod-quotegrid {
        .qmod-label {
          color: $text;
        }
      }
      &.qmod-section-insidersummary {
        .qmod-panel-cell {
          .qmod-panel-subcell {
            opacity: 1;

            &.qmod-buy-trades {
              background-color: $upColor;
            }
            &.qmod-sell-trades {
              background-color: $downColor;
            }
            &.qmod-shares-traded {
              background-color: $warning;
            }
          }
          .qmod-panel-subcell {
            background-color: $dark;
          }
        }
      }
      .qmod-table {
        tbody {
          tr {
            background-color: $background;
          }
        }
        .odd {
          background-color: $darker;
          color: $light;
        }
        .even {
          background-color: $dark;
          color: $lighter;
        }
        &.dataTable {
          .child {
            table,
            tr,
            td {
              background-color: $darker;
            }
          }
          th::after {
            padding-right: 1px;
          }
          th.sorting:hover {
            border-bottom: 1px solid $accent !important;
            color: $accent;
          }
          .sorting_desc,
          .sorting_asc {
            border-bottom: 1px solid $accent !important;
            color: $accent;
          }
        }
        i:hover {
          color: $accent !important;
        }
      }
      .qmod-fade {
        opacity: 20%;
      }
      .qmod-line-sep {
        border-color: $dark;
      }
      .qmod-flag-active {
        border-color: $light;
      }

      .qmod-popup-wrapper {
        background-color: rgba(0,0,0,0.65);
      }
      .qmod-popup {
        background-color: $background;
        border-radius: 7px;
        border: 1px solid $light;
        .qmod-popup-title {
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          background: none;
          font-weight: bold;
          padding: 1em;
          .qmod-popup-titlebar-buttons {
            float: right;
            position: relative;
            top: -4px;
            left: -5px;
            .qmod-btn {
              color: darken($primary, 20);
              i::before {
                margin: 6px;
              }
              &:hover {
                color: $accent;
              }
            }
          }
        }
      }

      .qmod-legend li,
      .qmod-button-group li {
        border-color: $dark;
        &:first-of-type {
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
          button {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
          }
        }
        &:last-of-type {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          button {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
          }
        }
      }

      .qmod-dropdown,
      .qmod-modifier {
        ul {
          border-radius: 6px;

          &.qmod-dropdown-menu {
            background-color: $dark;

            li {
              input {
                background-color: lighten($dark, 10);
                border: 1ps solid $light;
                border-radius: 6px;
                color: $lighter;
              }
            }
          }
        }
        a {
          text-decoration: none;
          background-color: $dark !important;
          color: $primary !important;

          &.qmod-dropdown_toggle {
            border-radius: 6px;
            line-height: 2em;
            padding: 5px;
            padding-left: 12px;
          }
          &:hover {
            color: $accent !important;
            background-color: $darker !important;
          }
        }
      }

      .qmod-rating {
        background-color: #0b5801 !important;
      }

      .qmod-ranking {
        .qmod-rank-left {
          background-color: $background;
          border: 1px solid $primary;
        }
      }

      .dataTables_wrapper {
        .qmod-options-table {
          font-size: 80%;
        }
        .qmod-table {
          .odd {
            background-color: $darker;
            color: $light;
            td {
              color: $light;
            }
          }
          .even {
            background-color: $dark;
            color: $lighter;
            td {
              color: $lighter;
            }
          }
          .qmod-tick-down {
            td {
              color: $downColor;
            }
          }
          .qmod-tick-up {
            td {
              color: $downColor;
            }
          }
          &.dataTable {
            td {
              padding: 10px;
            }
            .sorting_desc,
            .sorting_asc {
              border-bottom: 1px solid $accent;
              color: $accent;
            }
          }
          i:hover {
            color: $accent !important;
          }
          tr {
            padding-left: 10px;
            &:hover {
              color: $primary;
              a,
              a:visited,
              a:active {
                color: $primary !important;
              }
              &.odd {
                background-color: lighten($darker, 5);
              }
              &.even {
                background-color: lighten($dark, 5);
              }
            }
          }
        }
      }

      .qmod-paginator,
      .dataTables_paginate {
        .qmod-pager-item,
        .paginate_button,
        .paginate_button:active {
          background: $dark !important;
          border: 1px solid $light !important;
          color: $text;

          &.qmod-pager-active,
          &.current {
            background: $dark;
            background-color: $dark !important;
            color: $accent !important;
            border-color: $accent !important;

            cursor: default;
            &:hover {
              cursor: default;
              background-color: $dark !important;
              color: $accent !important;
              border-color: $accent !important;
            }
          }
          &.qmod-pager-prev,
          &.qmod-pager-next,
          &.previous,
          &.next {
            color: $primary !important;
            &:hover {
              color: $accent !important;
            }
          }
          &:hover {
            background-color: lighten($dark, 10) !important;
            color: $accent !important;
          }
        }
      }

      .qmod-chart-js [data-highcharts-chart] {
        border-radius: 5px !important;
        border: 2px solid $dark;
      }
      .highcharts-container {
        width: 95%;

        .highcharts-root {
          .highcharts-background {
            fill: $background;
          }
          .highcharts-grid {
            .highcharts-grid-line {
              stroke: $dark;
            }
          }
          .highcharts-axis-labels {
            text,
            tspan,
            .highcharts-text-outline {
              stroke-width: 0;
              fill: $light;
              font-size: 90% !important;
            }
          }
          .highcharts-legend {
            .highcharts-legend-box {
              fill: none;
            }
            .highcharts-legend-item {
              color: $darker;
              text,
              tspan {
                fill: $text !important;
                color: $text !important;
              }
            }
          }
        }
      }
      
      .qmod-chart-plot {
        position: relative;
        .qmod-tab-img {
          opacity: 1;
        }
        .chart_fader {
          height: 100%;
          width: 100%;
          opacity: 1;
          background-color: $background;
          position: absolute;
          top: 1px;
          left: 0px;
          z-index: 999;
        }
      }
    }

    .qmod-tab-container {
      .qmod-tab-list {
        .qmod-tab-item {
          border-color: $light;

          .qmod-tab-item-link {
            .qmod-tab-text {
              min-width: auto;
              border-radius: 3px;
              border: 1px solid $background;
              background-color: $dark;
              color: $text;

              &:hover {
                background-color: lighten($darker, 10);
                color: $accent;
              }
            }
          }
          &.qmod-active {
            border-color: $light;
            border-bottom-width: 1px;

            .qmod-tab-item-link {
              .qmod-tab-text {
                background-color: $lighter;
                color: $darker;
                border: 1px solid $light;
                border-color: $accent;

                &:hover {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    .qmod-modal-overlay {
      background: rgba(0, 0, 0, 0.9);

      .qmod-ui-modal {
        border-radius: 7px;

        .qmod-ui-modal-titlebar {
          background-color: $dark;

          button {
            border: none;
            background: none;

            .fa {
              color: $light;
            }
            &:hover {
              .fa {
                color: $primary;
              } 
            }
          }
        }
        .qmod-ui-modal-body {
          background-color: $darker;

          .highcharts-axis-labels {
            text {
              tspan {
                font-size: $fontSize !important;
              }
            }
          }
        }
      }
    }
  }
  .flexbox {
    position: relative;
    .row {
      position: relative;
      width: 100%;
      top: 0px;
      min-height: 100px;
      
      .header {
        width: auto;
        position: relative;
        padding-top: 8px;
        margin: 1em;
      }
      .search {
        position: absolute;
        top: -20px;
        right: 10px;
        .qmod-symbollookup {
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid #666;
          box-shadow: none;
        }
      }
    }
  }
  .qm-tool-wrap {
    .qmodii {
      .application {
        font-family: $fontFamily;
        background-color: $background;
        color: $text;
        
        .v-label {
          color: $primary !important;
        }

        .v-tabs {
          margin-top: 15px;

          .v-tabs__bar {
            &.primary {
              background-color: $background !important;

              .v-icon {
                background-color: $dark;

                &.v-tabs__icon--prev {
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                }
                &.v-tabs__icon--next {
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                }

                &:hover {
                  background-color: $accent !important;
                }
              }
            }
            .v-tabs__wrapper {
              .v-tabs__container {
                height: 38px;

                .v-tabs__div {
                  background-color: $background;
      
                  .v-tabs__item {
                    opacity: 1;
                    color: $primary !important;
                    background-color: $dark !important;
                    &:hover {
                      color: $primary !important;
                      background-color: lighten($dark, 20) !important;
                    }
      
                    &.v-tabs__item--active {
                      color: $primary !important;
                      background-color: $accent !important;
                    }
                  }
                }
                .v-tabs__slider {
                  &.accent {
                    background-color: darken($accent, 25%) !important;
                    border-color: darken($accent, 25%) !important;
                  }
                }
                .v-tabs__bar {
                  .v-tabs__div {
                    &:hover {
                      background-color: lighten($primary, 10%) !important;
                    }
                  }
                }
              }
            }
          }
        }

        .v-card {
          .v-card__title {
            .headline {
              color: $primary;
              font-size: 1.2em;
              font-weight: bold;
            }
          }
          .v-card__text {
            padding: 0 1em 0 1em;
            background-color: $dark;
            color: $text;

            .qmodii-symbolookup-bottom {
              position: relative;
              top: -15px;
            }
            .v-window {
              background-color: $background;
              color: $text;
            }
          }
          .v-card__actions {
            /*position: absolute;
            top: 0px;
            right: 0px;*/
            background-color: $accent;
            font-weight: bold;
            .green--text {
              .text--darken-1 {
                color: $primary;
                caret-color: $primary;
              }
            }
          }
        }
        
        .qmodii-advChart-addCompare {
          .primary {
            color: $text;

            &:hover {
              background-color: $accent !important;
              
              &::before {
                color: white !important;
                background-color: lighten($dark, 20) !important;
              }
            }
            &::before {
              color: white !important;
              opacity: 1;
              padding-top: 8px;
              background-color: $dark !important;
            }
          }
        }
        .qmodii-advChart-chart {
          .highcharts-navigator-mask-inside {
            fill: $primary;
            opacity: 0.1;
          }
          .highcharts-navigator-handle,
          .highcharts-scrollbar-thumb,
          .highcharts-scrollbar-button {
            fill: $primary !important;
          }
          .highcharts-label {
            &.highcharts-point {
              .highcharts-label-box {
                stroke: $accent;
                fill: $accent;
              }
              text {
                color: white !important;
              }
            }
          }
        }
      }
      .qmodii-symbolookup {
        .qmodii-tab-content {
          height: auto;
        }
      }
      .v-btn {
        background-color: $dark !important;
        color: darken($text, 20) !important;

        .v-btn__content {
          .v-icon{
            color: $primary;
          }
        }
        &.v-btn--floating:not(.v-btn--depressed):not(.v-btn--flat) {
          box-shadow: 0 3px 5px -1px rgb(37, 37, 37),0 6px 10px 0 rgb(53, 53, 53),0 1px 18px 0 rgb(53, 53, 53)
        }
        &:hover {
          background-color: lighten($dark, 20) !important;
          color: $text!important;
        }
        &.blue--text {
          &.text--darken-1 {
            color: $accent;
            font-weight: bold;
          }
        }
      }
      .v-select {
        .v-select__selections {
          padding-left: 10px;
          color: $text;
          border: 1px solid $dark;
        }
      }
      .v-input {
        color: $text;

        .v-input__control {
          .v-input__slot {
            .v-select__slot {
              border-radius: 6px;
              border: 2px solid $dark;

              .v-label {
                transform: translateY(-27px) scale(0.75);
                color: darken($text, 20);

                &.v-label--active {
                  color: $accent;
                }
              }
              .v-select__selections {
                .v-select__selection {
                  color: $text;
                }
                input {
                  color: $text;
                }
              }
              .v-input__append-inner {
                .v-input__icon {
                  .v-icon {
                    color: $primary;
                  }
                }
              }
            }
          }
        }

        .v-menu__content {
          .v-select-list {
            .v-list {
              background-color: $dark;
              
              .listitem {
                .v-list__tile {
                  .v-list__tile__content {
                    .v-list__tile__title {
                      color: $text;
                    }
                  }
                }
              }
            }
          }
        }
        &.v-text-field {
          .v-label {
            left: 0px;
            right: auto;
            position: absolute;
            transform: translateY(-18px) scale(.75);
          }
        }
      }
      .v-dialog__content {
        .v-dialog {
          .qmodii-modal-content {
            .v-card {
              border-radius: 12px;

              &.v-sheet {
                background-color: $dark;

                .v-card__title {
                  .headline {
                    color: $text;
                  }
                }
                .v-card__text {
                  color: $text;
                }
                .v-card__actions {
                  color: $text;
                  background-color: $dark;
                }
              }
            }
          }
        }
      }
      .primary--text {
        color: $primary !important;
      }
    }
  }
  .flatpickr-calendar {
    .flatpickr-month {
      background-color: $dark;
      color: $text;
      fill: $text;
    }
    .flatpickr-innerContainer {
      background: $dark;

      .flatpickr-rContainer {
        .flatpickr-weekdays {
          background-color: $dark;

          .flatpickr-weekday {
            background-color: $dark;
            color: $text;
          }
        }
        .flatpickr-days {
          .dayContainer {
            .flatpickr-day {
              color: $text;

              &.prevMonthDay {
                color: $text;
              }
              &.selected {
                background: $accent;
              }
              &.disabled {
                color: darken($light, 10);
              }
              &:hover {
                color: $accent;
              }
            }
          }
        }
      }
    }
  }
}
