$primary: green;
$accent: #1c4587;
$light: #838383;
$lighter: lighten($light, 20);
$darker: #000;
$dark: lighten($darker, 10);
$background: $darker;
$text: $primary;
$error: #8d0e0e;
$warning: #c76617;
$success: #0d5e14;
$upColor: $success;
$downColor: $error;

$chgrd: #474747;

$fontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize: 10pt;
$fontWeight: normal;
