@import "theme.colors.inc.scss";

body {
  font-family: $fontFamily;
  font-size: $fontSize !important;
  background-color: $background;
  color: $text;
  font-weight: $fontWeight;

  .container {
    width: 99% !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.6em !important;
    font-weight: bold;
  }

  .xdebug-error {
    color: $darker;
  }

  a,
  a:active,
  a:visited {
    font-size: $fontSize !important;
    text-decoration: none !important;
    color: $accent !important;

    &:hover {
      text-decoration: underline;
      color: $primary !important;
    }
    &.qmod-tooltip {
      font-size: 100% !important;
      color: $accent !important;
      text-decoration: none;

      &:hover {
        color: $accent !important;
      }
    }
  }

  #calendar_page_nav {
    font-size: $fontSize !important;

    span,
    input,
    select {
      font-size: $fontSize !important;
    }
  }

  td.qm_IPOSummary_News,
  .qm_IPOSummary_News .qm_heading_text a {
    display: none !important;
  }

  #qmNavigation {
    width: 100%;
    margin: 20px 0;
    text-align: left;

    .qmTab {
      background-color: $background;
      color: $text;
      border-color: $accent;

      &.qmActiveTab {
        background-color: $accent;
        border-color: $accent;
        color: $lighter;
      }
    }
  }

  #qmDropDownWrapper {
    white-space: nowrap;

    #qmHeaderMenu {
      position: relative;
      top: 0px;

      #qmNewsMenu,
      #qmCommentaryMenu {
        position: absolute;
        right: 3px;
        background-color: $dark;

        .qmDropDownBody {
          .qmDropDownHeader{
            color: $text;
            font-weight: bold;
            padding: 4px;
          }

          .qmDropDownLink {
            color: $text;
            font-size: $fontSize !important;
            padding: 3px;

            &.qm_heading_text {
              white-space: nowrap;
            }
          }

          .qmDropDownLinkHover {
            font-size: $fontSize !important;
            color: $accent;
            background-color: lighten($dark, 10);
            padding: 3px;
          }
        }
      }
    }
  }

  .qmTab {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.8em;
    min-width: 120px;
    cursor: pointer;
    border: 1px solid $lighter;
    background-color: $dark;
    margin: 1px;
    color: $primary;

    &:first-of-type {
      border-top-left-radius: 6px;
    }
    &:last-of-type {
      border-top-right-radius: 6px;
    }
    
    &:hover {
      cursor: pointer;
      background-color: lighten($dark, 10);
      color: $primary;
    }

    &.qmActiveTab {
      background-color: $accent;
      color: $primary;

      &:hover {
        cursor: default;
        background-color: $accent;
        color: $primary;
      }
    }
  }
  
  .qmod-hbg {
      background-color: transparent;
  }
  .error {
    color: $error;
    padding: 1rem;
    background-color: $light;
  }
  .hidden {
    display: none;
  }

  .qm-container {
    width: 100% !important;

    table {
      width: 100% !important;
    }

    .qm_heading_bar {
      .qm_heading_text {
        font-size: 1.6em;
      }
    }

    .qm_maintext {
      form {
        input,
        button {
          font-size: $fontSize;
          padding: 3px;
          padding-left: 6px;
          padding-right: 6px;
          margin: 4px;
          border-radius: 4px;
        }
      }
    }
  }

  .ui-datepicker {
    width: auto;

    .ui-datepicker-title {
      font-size: $fontSize;
    }
  }

  .qmod-ui-tool,
  .qmodii {
    font-size: 100% !important;

    .blue--text {
      color: $accent !important;
    }

    .qmod-top-chart {
      .qmod-top-charts {
        .qmod-entitlement {
          font-size: 75% !important;
        }
      }
    }

    .primary {
      background-color: $accent;
      border-color: $accent;
    }

    .qmod-tab-container {
      .qmod-tab-list {
        .qmod-tab-item {
          .qmod-tab-item-link {
            .qmod-tab-text {
              background-color: $background !important;

              span {
                color: $text !important;
              }
            }
          }

          &:hover {
            .qmod-tab-item-link {
              .qmod-tab-text {
                background-color: $lighter !important;
  
                span {
                  color: $darker !important;
                }
              }
            }
          }

          &.qmod-active {
            .qmod-tab-item-link {
              .qmod-tab-text {
                background-color: $accent !important;
  
                span {
                  color: $lighter !important;
                }
              }
            }
          }
        }
      }
    }

    &.qmod-fund-holdings {
      .qmod-chart-container {
        .qmod-performance-chart-container {
          .qmod-performance-chart {
            .qmod-panel {
              &.qmod-chart-panel {
                .qmod-chart {
                  &.qmod-per-chart {
                    min-height: 400px !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.qmod-fullnewsstory {
      .qmod-heading {
        &.qmod-hbg {
          line-height: 2em;
        }
      }

      .qmod-titlebar-buttons {
        border-radius: 5px;
        overflow: hidden;

        .qmod-btn {
          position: relative;
          top: -2px;
          height: auto;
          width: auto;
          padding: 7px;
        }

        .Shrinkfont {
          .qmod-btn {
            span {
              &::before {
                font-size: 85%;
              }
            }
          }
        }
      }
    }

    &.qmod-topperformers {
      .qmod-topperformers-controls {
        border-radius: 6px !important;

        ul {
          &.qmod-dropdown-menu {
            background-color: $background !important;
            color: $text;
            border-radius: 6px;

            li {
              a {
                background-color: $background !important;
                color: $text !important;

                &.qmod-active {
                  background-color: $accent !important;
                  color: $lighter !important;
  
                  &:hover {
                    background-color: $accent !important;
                    color: $lighter !important;
                  }
                }

                &:hover {
                  background-color: $accent !important;
                  color: $lighter !important;
                }
              }
            }
          }
        }
      }
    }

    &.qmod-financials {
      .qmod-block-wrapper {
        &.qmod-financials-block {
          .qmod-dropdown-label {
            padding: 4px;
    
            &.qmod-capitalize {
              text-transform: uppercase;
            }
          }
        }
      }

      .qmod-financials-cont {
        table {
          &.qmod-table {
            &.qmod-financials-table {
              font-size: 100% !important;
            }
          }
        }
      }
      .qmod-text {
        font-size: 100% !important;
      }
    }

    .qmod-quotehead {
      .pure-g {
        display: none;
      }
      .qmod-block-wrapper {
        margin-bottom: 0px;
      }
      .qmod-head-left {
        .qmod-entline {
          font-size: 65% !important;
          line-height: 150%;
        }
      }
      .qmod-head-right {
        .qmod-hl-arrow {
          top: -25px;
        }
        .qmod-daylow {
          .qmod-daylowbar {
            background-color: $dark;
            font-size: 100% !important;
            margin-top: 30px;

            .qmod-hl-arrow {
              left: initial !important;

              .qmod-hl-label {
                &.qmod-hl-left {
                  left: initial;
                  display: inline-block;
                  position: inherit;
                }
              }
            }

            .fa {
              &.fa-caret-down {
                display: none;
              }
            }

            .qmod-barpct {
              padding: 4px;
              background-color: $accent !important;
              border-radius: 4px;
            }
          }
        }
      }
    }

    &.qmod-alerts {
      .qmod-chkradlabel {
        &::after {
          color: $accent;
        }
      }

      .qmod-tool-wrapper {
        .qmod-myAlerts {
          .qmod-alerts-con {
            .qmod-alertTable-header {
              background-color: $background;

              .qmod-quote-data {
                color: $text;
              }

              .qmod-addAlert-icon {
                ::before {
                  color: $primary !important;
                }

                &:hover {
                  ::before {
                    color: $accent !important;
                  }
                }
              }
            }
            .qmod-alert-row {
              &.qmod-cursor {
                &:hover {
                  background-color: $lighter;
                  color: $text;
                }
              }
            }
          }
        }
      }
    }

    .qmod-popup-wrapper {
      .pop-up-middle {
        background: rgba(0, 0, 0, 0.8) !important;

        .qmod-popup {
          background: rgba(0, 0, 0, 0.8);

          .qmod-type-row,
          .qmod-language-row,
          .qmod-contacts-row {
            height: auto;
          }
          .qmod-popup-title {
            background-color: $dark;
            color: $lighter;

            .qmod-popup-titlebar-buttons {
              .qmod-btn {
                font-size: 150% !important;
                padding: 0px !important;
              }
            }
          }
          .qmod-popup-body {
            background-color: $background;
            color: $text;

            .qmod-trigger-row {
              height: auto;
            }

            .qmod-alert-description {
              margin-bottom: 20px;
            }

            .qmod-symbol-lookup {
              .qmod-symbol-lookup-btn {
                .qmod-btn {
                  font-weight: bold;
                  padding: 16px !important;
                  margin: 8px;

                  &:hover {
                    color: $accent;
                  }
                }
              }
            }

            .qmod-addalert-symbol {
              .qmod-modal-quote-data {
                background-color: $background;
                color: $text;
              }
            }

            select,
            textarea {
              max-width: min-content;
              min-height: 2.5rem;
              margin: 10px;
              padding: 0;
              border-radius: 8px;
              background-color: $background;
              color: $text;
            }
          }

          .qmod-alertpopup-footer {
            background-color: $dark;
            color: $lighter;
          }

          .qmod-btn {
            background-color: $dark !important;
            color: $primary !important;

            &:hover {
              color: $accent !important;
              background-color: lighten($darker, 10) !important;
            }
          }
        }
      }
    }

    .qmod-alerts {
      .qmod-chkrad[type="checkbox"]:not(:checked) + label::before {
        color: $primary;
      }
      .qmod-chkrad[type="checkbox"]:checked + label::before {
        color: $text;
      }
    }

    .qmod-dropdown-menu li > a.qmod-active {
      color: $lighter !important;
    }

    .qmod-ui-tool {
      .qmod-block-wrapper {
        .qmod-rating-box-cont {
          font-size: 60% !important;

          .qmod-rating-full {
            font-size: 100% !important;
            color: $text !important;
          }
        }
      }
    }

    .qmod-buttons-country {
      .qmod-buttons-country-link {
        span {
          border-radius: 3px;
        }

        &.qmod-active {
          span {
            border: 3px solid $accent;
            background-color: $background;
          }
        }
      }
    }

    .qmod-btn,
    .qmod-btn.qmod-darkblue,
    .qmod-btn li,
    .qmod-legend li,
    .qmod-industry-toggle {
      font-size: 100% !important;
      color: $lighter !important;
      border: none !important;
      background: $dark !important;
      padding: 10px;

      &.qmod-btn-link {
        border-radius: 6px !important;

        &:hover {
          background-color: lighten($dark, 10) !important;
        }
      }
      &:hover {
        color: $lighter !important;
        background: lighten($dark, 10) !important;
      }
      .qmod-btn {
        background-color: $dark !important;
        color: $lighter !important;

        &:hover {
          color: $lighter !important;
          background-color: lighten($dark, 10) !important;
        }
      }
      &.qmod-active,
      &.qmod-btn-active {
        color: $lighter !important;
        background: darken($dark, 10) !important;
        cursor: default;
      }
      &.qmod-btn-settings {
        border-radius: 6px;
        padding: 8px;
        margin-right: 5px;
      }
    }

    .highcharts-navigator-mask-inside {
      fill: $primary;
      opacity: 0.1;
    }
    .highcharts-navigator-handle,
    .highcharts-scrollbar-thumb,
    .highcharts-scrollbar-button {
      fill: $primary !important;
    }
    .highcharts-label {
      text {
        color: white !important;

        .highcharts-text-outline {
          display: none;
        }
      }
      &.highcharts-tooltip {
        text {
          fill: $darker !important;

          tspan {
            fill: $darker !important;
          }
        }
      }
    }

    .qmod-button-industry {
      &.qmod-f-right {
        .qmod-industry-toggle {
          padding: 6px !important;
        }
      }
    }
    
    input[type="text"] {
      color: $text !important;
      padding: 0.5em;
      margin-top: 4px;
      color: $text;
      background-color: $background;
    }

    .qmod-grow-input {
      input[type="text"] {
        color: $text !important;
        padding: 2px !important;
        background-color: $background;
      }
    }

    .qmod-btn-active {
      color: $accent;
    }

    .qmod-btn-icon {
      .qmod-calendar-control {
        .fa {
          .fa-calendar {
            top: 5px;
          }
        }
      }
    }

    .qmod-buttons-metric {
      span {
        .qmod-buttons-metric-link {
          .qmod-metric {
            &.metric {
              background-color: $background;
              border-radius: 0px;
              padding: 12px;
              border: 1px solid $text;
  
              i {
                line-height: 40px;
  
                &::before {
                  color: $text;
                }
              }
            }
          }
  
          &:hover {
            .qmod-metric {
              &.metric {
                background-color: $light;
                color: $darker;
              }
            }
          }
          &.qmod-active {
            .qmod-metric {
              &.metric {
                background-color: $accent !important;

                i.fa {
                  &::before {
                    color: $lighter !important;
                  }
                }
              }
            }
          }
        }

        &:first-of-type {
          .qmod-metric {
            &.metric {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
            }
          }
        }

        &:last-of-type {
          .qmod-metric {
            &.metric {
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
      }
    }

    .qmod-performance-control,
    .qmod-panel-control,
    .qmod-dividends-exchange {
      border-radius: 6px;
      max-width: 350px !important;

      &.qmod-calendar-control {
        .qmod-earnings-datepicker {
          background-color: $background !important;
          color: $text !important;
        }

        .inner-addon {
          .fa {
            color: $accent !important;
          }
        }
      }
      &.qmod-dropdown {
        .qmod-dropdown_toggle {
          background-color: $lighter;
          color: $darker !important;
          padding: 8px;
          display: inline-block;
          border-radius: 6px;
          white-space: nowrap;

          &:hover {
            color: $darker !important;
          }
        }
      }
    }

    .qmod-toggle-wrap {
      border-radius: 6px;
      width: 150px;

      &.qmod-dropdown {
        .qmod-toggle-btn {
          background-color: $darker;
          color: $lighter;
          padding: 8px;
          display: inline-block;
          border-radius: 6px;
          white-space: nowrap;
          width: 59px;
          
          &:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          &.qmod-toggle-active {
            background-color: $accent;
          }
          &.qmod-toggle-active-alt {
            background-color: $dark;
          }
        }
      }
    }
    
    .options-table-wrap {
      &:not(.qmod-hide) {
        .qmod-options-header {
          &.pure-g {
            background-color: $dark;
          }
        }
      }
    }

    .qmod-heading {
      &.qmod-hbg {
        border-radius: 3px;
        padding: 10px;
        margin: 10px 0px;
        background-color: $background;
        color: $primary;
        font-size: 150%;

        .qmod-btn {
          span {
            font-size: $fontSize !important
          }
        }
      }
    }

    .qmod-table {
      .qmod-textr,
      .qmod-control {
        &.qmod-nmp-highlight {
          background-color: lighten($darker, 10) !important;
          color: $text !important;
        }
      }
    }

    .qmod-option-dates {
      &.slick-slider {
        .slick-list {
          .slick-slide {
            &.slick-active,
            &.qmod-active-date {
              background-color: $dark !important;
              color: $primary !important;

              &.qmod-active-date {
                background-color: darken($accent, 20) !important;
                color: $primary !important;
              }
            }
          }
        }
      }
    }

    .qmod-news-list {
      background-color: $background !important;
      color: $text !important;
    }

    .qmod-industrypeers-controls,
    .qmod-block-wrapper,
    .qmod-block-wrapper-body,
    .qmodii-component-body {
      background: unset;

      .qmod-chart-js {
        > div {
          padding-bottom: 6px;
        }
        .qmod-chart-display {
          .qmod-legend {
            &.qmod-legend-list {
              .qmod-legend-list-item {
                background-color: $dark !important;

                &:last-of-type {
                  padding-bottom: 9px !important;
                }
              }
            }
          }
        }
      }

      .qmod-fund-head {
        .qmod-fund-value {
          .qmod-stylebox-con {
            .qmod-stylebox-fill {
              background-color: $primary;
            }
          }
        }
      }

      .qmod-news-output {
        .qmod-modifiers {
          .pure-g {
            .qmod-mod-pad {
              .qmod-frm-wrap {
                .qmod-dropdown-label {
                  padding: 4px;

                  &.qmod-capitalize {
                    text-transform: uppercase;
                  }
                }
              }
              &.qmod-mod-pad-buttons {
                padding: 5px;
              }
            }
          }
        }
      }

      .qmod-quotehead {
        display: none;
      }

      .qmod-quotegrid {
        .qmod-label {
          color: $text;
        }
      }

      .dividends-calendar {
        .qmod-panel-control {
          a {
            &.qmod-dropdown_toggle {
              span {
                line-height: 3em;
              }
            }
          }
          .inner-addon {
            i {
              &.fa {
                padding: 12px;
              }
            }
          }
        }
      }

      &.qmod-section-insidersummary {
        .qmod-panel-cell {
          .qmod-panel-subcell {
            opacity: 1;

            &.qmod-buy-trades {
              background-color: $upColor;
            }
            &.qmod-sell-trades {
              background-color: $downColor;
            }
            &.qmod-shares-traded {
              background-color: $warning;
            }
          }
          .qmod-panel-subcell {
            background-color: $background;
            color: $text;
          }
        }
      }
      .qmod-table {
        tbody {
          tr {
            background-color: $background;
          }
        }
        .odd {
          background-color: $lighter;
          color: $darker;
        }
        .even {
          background-color: $background;
          color: $text;
        }
        &.dataTable {
          .child {
            table,
            tr,
            td {
              background-color: $lighter;
              color: $darker !important;
            }
          }
          thead {
            tr {
              th::after {
                font-size: 100% !important;
                padding-right: 10px;
                top: unset;
                position: absolute;
                right: 0px;
              }
              th {
                padding: 8px;
                padding-right: 26px !important;
                margin-left: 45px;
                margin-right: 0px;
                
                &.sorting {
                  &:hover {
                    border-bottom: 1px solid $accent !important;
                    color: $accent !important;

                    &::after {
                      color: $accent !important;
                    }
                  }
                }
                .sorting_desc,
                .sorting_asc {
                  border-bottom: 1px solid $accent !important;
                  color: $accent;
                }
              }
            }
          }
        }
        i:hover {
          color: $accent !important;
        }
      }
      .qmod-fade {
        opacity: 20%;
      }
      .qmod-line-sep {
        border-color: $dark;
      }
      .qmod-flag-active {
        border-color: $light;
      }

      .qmod-quotegrid,
      .qmod-popup-wrapper {
        background-color: $background;

        .qmod-popup {
          background-color: $background !important;
          border-radius: 7px;
          border: 1px solid $light;
          border-radius: 7px;

          .qmod-popup-title {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            background: none;
            font-weight: bold;
            padding: 1em;

            .qmod-popup-titlebar-buttons {
              float: right;
              position: relative;
              top: -4px;
              left: -5px;

              .qmod-btn {
                color: $text !important;
                background: none !important;
                padding: 4px !important;

                i::before {
                  margin: 6px;
                }
                &:hover {
                  color: $accent !important;
                  background: none !important;
                }
              }
            }
          }
          .qmod-popup-body {
            background-color: $background;
            border: 1px solid $light;

            .qmod-modal-content {
              ul {
                background-color: $background !important;

                li {
                  background-color: $background !important;
                }
              }
            }
          }
        }
      }
      .qmod-button-group {
        max-width: auto;

        .qmod-button-group li {
          border-color: lighten($dark, 20) !important;
          background-color: $dark !important;
          padding: 0px !important;

          &:hover {
            color: $accent !important;
            background-color: lighten($dark, 5) !important;

            span {
              &.qmod-btn-text {
                color: $accent !important;
                font-size: 100% !important;
              }
            }
          }
          &.qmod-active {
            border-color: lighten($dark, 10) !important;
            background-color: lighten($dark, 10) !important;
            color: $accent !important;
          }

          &.qmod-btn {
            border: 1px solid lighten($dark, 10);
            background: $dark;
            padding: 8px;
          }

          &:first-of-type {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;

            button {
              &.qmod-btn {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
              }
            }
          }
          &:last-of-type {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            
            button {
              &.qmod-btn {
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
              }
            }
          }
        }
      }

      .qmod-dropdown,
      .qmod-mode-tab,
      .qmod-modifier {
        a {
          text-decoration: none !important;
          color: $text !important;

          &.qmod-dropdown_toggle {
            border-radius: 6px;
            line-height: 2em;
            padding: 5px;
            padding-left: 12px;
            background-color: $background;
            color: $text !important;
            border: 1px solid $text;

            i {
              &.fa {
                color: $text !important;
              }
            }
          }

          &:hover {
            color: white !important;
            background-color: $accent;
          }
        }

        ul {
          border-radius: 6px !important;

          &.qmod-mode-list,
          .qmod-dropdown-menu,
          &.qmod-dropdown-menu {
            background-color: $background !important;
            color: $text;

            .qmod-mode-item {
              background: $background !important;

              a,
              a.qmod-mode-item-link,
              span {
                background-color: $background !important;
                color: $text !important;
                border-radius: 6px !important;

                &:hover {
                  background-color: $primary !important;
                  color: $accent !important;
                }
              }

              &.qmod-active {
                color: $lighter !important;
                background-color: $accent !important;

                .qmod-mode-text {
                  color: $lighter !important;
                }

                a {
                  &.qmod-mode-item-link {
                    &:hover {
                      background-color: $accent !important;
                      cursor: default;

                      .qmod-mode-text {
                        color: $lighter !important;
                      }
                    }
                  }
                }
              }
            }
            li {
              input {
                background-color: $background !important;
                color: $text !important;
                border-radius: 6px !important;
              }
            }
          }
        }
      }

      .qmod-rating {
        background-color: #0b5801 !important;
      }

      .qmod-ranking {
        .qmod-rank-left {
          background-color: $background;
          border: 1px solid $primary;

          .qmod-c-rank {
            color: $primary;
          }
        }
      }

      .dataTables_wrapper {
        .qmod-options-table {
          font-size: 80%;
        }

        .qmod-table {
          .qmod-tick-down {
            td {
              font-weight: bold;
              color: $downColor;
            }
          }
          .qmod-tick-up {
            td {
              font-weight: bold;
              color: $upColor;
            }
          }
          &.dataTable {
            td {
              padding: 10px;
            }
            .sorting_desc,
            .sorting_asc {
              border-bottom: 1px solid $accent;
              color: $accent;
            }
          }
          i:hover {
            color: $accent !important;
          }

          tr {
            padding-left: 10px;
          }

          tbody {
            tr {
              border-bottom: 1px solid $chgrd;

              &.odd {
                background-color: $background;
    
                td {
                  color: $text;
                }
              }
              &.even {
                background-color: $background;
                color: $text;
    
                td {
                  color: $text;
                }
              }
  
              &:hover {
                background-color: $light !important;
                color: $darker !important;
              
                td {
                  &.qmod-control {
                    &.control {
                      &::before {
                        color: $darker !important;
                      }
                    }
                  }
                }

                td,
                span,
                a {
                  color: $darker !important;
                }
              }
            }
          }
        }
      }

      .qmod-paginator,
      .dataTables_paginate {
        .qmod-pager-item,
        .paginate_button,
        .paginate_button:active {
          font-size: 100% !important;
          background: $background !important;
          border: 1px solid $text !important;
          color: $text !important;

          &.qmod-pager-active,
          &.current {
            background: inherit;
            background-color: $accent !important;
            color: $lighter !important;
            border-color: $accent !important;

            cursor: default;
            &:hover {
              cursor: default;
              background-color: $accent !important;
              color: $lighter !important;
              border-color: $accent !important;
            }
          }
          &.qmod-pager-prev,
          &.qmod-pager-next,
          &.previous,
          &.next {
            color: $text !important;

            &:hover {
              color: $lighter !important;
            }
          }
          &:hover {
            background-color: lighten($dark, 10) !important;
            color: $lighter !important;
          }
        }
      }

      .qmod-chart-js [data-highcharts-chart] {
        border-radius: 5px !important;
        border: 2px solid $dark;
      }

      .highcharts-container {
        width: 95%;

        text,
        span {
          color: $text !important;
          font-size: 100% !important;

          tspan {
            fill: $text;
          }
        }

        .highcharts-root {
          font-size: 85% !important;

          .highcharts-grid {
            .highcharts-grid-line {
              path {
                &.highcharts-grid-line {
                  stroke: $light;
                }
              }
            }
          }

          .highcharts-tooltip {
            .highcharts-label {
              background-color: $background;
              padding: 5px;
              margin: 5px;

              &.highcharts-tooltip-box {
                span {
                  border: 1px solid $text;
                  color: $text !important;
                }
              }

              .highcharts-label-box {
               fill: $background !important;
              }
            }
          }

          .highcharts-series-group {
            .highcharts-series {
              &.highcharts-line-series {
                &:first-of-type {
                  path {
                    &.highcharts-graph {
                      stroke: $accent !important;
                    }
                  }
                }
              }

              &.highcharts-pie-series {
                .highcharts-color-0 {
                  fill: $accent;
                }
                
                .highcharts-color-1 {
                  fill: $light;
                }

                .highcharts-color-2 {
                  fill: $dark;
                }
              }

              &.highcharts-column-series {
                &:nth-child(1) {
                  rect {
                    &.highcharts-point {
                      fill: $accent;

                      &.highcharts-negative {
                        fill: $downColor;
                      }
                    }
                  }
                }

                &:nth-child(2) {
                  rect {
                    &.highcharts-point {
                      fill: $light;

                      &.highcharts-negative {
                        fill: $downColor;
                      }
                    }
                  }
                }

                &:nth-child(3) {
                  rect {
                    &.highcharts-point {
                      fill: $dark;

                      &.highcharts-negative {
                        fill: $downColor;
                      }
                    }
                  }
                }
              }

              &.highcharts-areaspline-series {
                &:first-of-type {
                  &.highcharts-navigator-series {
                    path {
                      &.highcharts-graph {
                        stroke: $accent;
                      }
                    }
                  }
                }
              }
            }
          }
          .highcharts-background {
            fill: $background;
          }
          .highcharts-grid {
            .highcharts-grid-line {
              stroke: $dark;
            }
          }
          .highcharts-axis-labels {
            text,
            tspan,
            .highcharts-text-outline {
              stroke-width: 0;
              fill: $text;
              font-size: 100% !important;
            }
          }
          .highcharts-legend {
            .highcharts-legend-box {
              fill: none;
            }
            .highcharts-legend-item {
              color: $darker;
              text,
              tspan {
                fill: $text !important;
                color: $text !important;
              }
            }
          }
        }
      }
      
      .qmod-chart-plot {
        position: relative;
        .qmod-tab-img {
          opacity: 1;
          height: auto;
          width: 100%;
        }
        .chart_fader {
          height: 100%;
          width: 100%;
          opacity: 1;
          background-color: $background;
          position: absolute;
          top: 1px;
          left: 0px;
          z-index: 999;
        }
      }
    }

    .qmod-tab-container {
      .qmod-tab-list {
        .qmod-tab-item {
          border-color: $light;

          .qmod-tab-item-link {
            .qmod-tab-text {
              min-width: auto;
              background-color: $background !important;
              color: $text !important;

              &:hover {
                background-color: $lighter !important;
                color: $accent !important;
                border-color: $accent;
              }
            }
          }
          &.qmod-active {
            border-color: $accent;
            border-bottom-width: 1px;

            .qmod-tab-item-link {
              .qmod-tab-text {
                background-color: $accent !important;
                color: $lighter !important;
                border-color: $accent;

                &:hover {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    .qmod-modal-overlay {
      background: rgba(255, 255, 255, 0.3);

      .qmod-ui-modal {
        background-color: $background;
        border-radius: 7px;
        max-width: 95%;

        .qmod-ui-modal-titlebar {
          background-color: $background;

          .qmod-ui-modal-title {
            color: $text;
          }

          button {
            border: none;
            background: none !important;
            padding: 4px;

            &.qmod-btn {
              margin: 2px;
              color: $accent !important;
            }

            .fa {
              color: $accent !important;
              display: flex;

              &::before {
                line-height: 0px;
              }
            }

            &:hover {
              background: none !important;

              .fa {
                color: $primary !important;
              }
            }

            &.qmod-font-shrink {
              font-size: 75% !important;
            }
          }
        }

        .qmod-ui-modal-body {
          background-color: $background;

          .highcharts-axis-labels {
            text {
              tspan {
                color: $text !important;
                font-size: $fontSize !important;
              }
            }
          }
        }
      }
    }
  }
  .flexbox {
    position: relative;

    .row {
      position: relative;
      width: 100%;
      top: 0px;
      min-height: 100px;
      
      .header {
        width: auto;
        position: relative;
        padding-top: 8px;
        margin: 1em;
      }
      .search {
        position: absolute;
        top: -20px;
        right: 10px;
        .qmod-symbollookup {
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid #666;
          box-shadow: none;
        }
      }
    }
  }
  .qm-tool-wrap {
    .qtool {
      .qmod-ui-tool {
        &.qmod-alerts {
          .qmod-tool-wrapper {
            .qmod-popup-wrapper {
              &.qmod-new-alert-modal {
                .pop-up-middle {
                  background: rgba(0, 0, 0, 0.8) !important;

                  .qmod-popup {
                    .qmod-popup-body {
                      .qmod-smartlookup-results {
                        .qmod-tab-views {
                          &.qmod-tab-row {
                            background-color: $background;

                            li {
                              &.qmod-tab {
                                &.qmod-tab-active {
                                  background-color: $dark;
                                  color: $accent;
                                }
                              }

                              &.qmod-sersel {
                                .qmod-label {
                                  background-color: $background;
                                  color: $text;

                                  &.qmod-active {
                                    background-color: $accent;
                                    color: $lighter;
                                  }
                                }
                              }
                            }
                          }
                        }

                        .qmod-smartlookup-wrap {
                          .qmod-smartlookup-result {
                            tr {
                              td {
                                background-color: $background;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .qmodii {

      .application {
        font-family: $fontFamily;
        background-color: $background;
        color: $text;
        
        .v-select__selections {
          padding-left: 10px;
          color: $lighter;
          border: 0;
          background-color: $background;
        }
        .v-input__append-inner {
          background-color: $dark;

          .v-input__icon {
            &.v-input__icon--append {
              i {
                &.v-icon {
                  background-color: $dark;
                }
              }
            }
          }
        }
        .v-select-list {
          .v-list {
            .listitem {
              &:hover {
                .v-list__tile--link {
                  color: $lighter;
                  background: $accent;
                  opacity: 1;
                }
              }
            }

            &.v-list--dense {
              background-color: $background;
              border: 1px solid $text;
              border-radius: 3px;
              
              .v-list__tile {
                font-size: 100% !important;
                background-color: $background;
                font-size: 100% !important;
                color: $text !important;

                &.v-list__tile--active {
                  background-color: $accent;
                  color: $lighter !important;
                }

                &:hover {
                  background-color: lighten($accent, 15);
                  color: $lighter !important;
                }
              }
            }
          }
        }

        .v-label {
          color: $lighter !important;
        }
        
        .v-input {
          input {
            color: $lighter !important;
          }
        }

        .v-tabs {
          margin-top: 15px;

          .v-tabs__bar {
            &.primary {
              background-color: $background !important;

              .v-icon {
                background-color: $dark;

                &.v-tabs__icon--prev {
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                }
                &.v-tabs__icon--next {
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                }

                &:hover {
                  background-color: $accent !important;
                }
              }
            }
            .v-tabs__wrapper {
              .v-tabs__container {
                height: 38px;

                .v-tabs__div {
                  font-size: 100% !important;
                  background-color: $background;

                  &:first-of-type {
                    .v-tabs__item {
                      border-top-left-radius: 3px;
                      border-bottom-left-radius: 3px;
                    }
                  }

                  &:last-of-type {
                    .v-tabs__item {
                      border-top-right-radius: 3px;
                      border-bottom-right-radius: 3px;
                    }
                  }
      
                  .v-tabs__item {
                    opacity: 1;
                    color: $lighter !important;
                    background-color: $darker !important;

                    &:hover {
                      color: $lighter !important;
                      background-color: lighten($darker, 10) !important;
                    }
      
                    &.v-tabs__item--active {
                      color: $lighter !important;
                      background-color: $accent !important;
                    }
                  }
                }
                .v-tabs__slider {
                  &.accent {
                    background-color: $accent !important;
                    border-color: $accent !important;
                  }
                }
                .v-tabs__bar {
                  .v-tabs__div {
                    &:hover {
                      background-color: $primary !important;
                    }
                  }
                }
              }
            }
          }
        }

        .v-card {
          .v-card__title {
            .headline {
              color: $primary;
              font-size: 1.2em;
              font-weight: bold;
            }
          }
          .v-card__text {
            padding: 0 1em 0 1em;
            background-color: $dark;
            color: $text;

            .qmodii-symbolookup-bottom {
              position: relative;
              top: -15px;
            }
            .v-window {
              background-color: $background;
              color: $text;
            }
          }
          .v-card__actions {
            /*position: absolute;
            top: 0px;
            right: 0px;*/
            background-color: $accent;
            font-weight: bold;
            .green--text {
              .text--darken-1 {
                color: $primary;
                caret-color: $primary;
              }
            }
          }
        }
        
        .qmodii-advChart-addCompare {
          .primary {
            color: $text;

            &:hover {
              background-color: $accent !important;
              
              &::before {
                color: white !important;
                background-color: lighten($dark, 20) !important;
              }
            }
            &::before {
              color: white !important;
              opacity: 1;
              padding-top: 8px;
              background-color: $dark !important;
            }
          }
        }
      
        .highcharts-navigator-mask-inside {
          fill: $primary;
          opacity: 0.1;
        }
        .highcharts-navigator-handle,
        .highcharts-scrollbar-thumb,
        .highcharts-scrollbar-button {
          fill: $primary !important;
        }
        .highcharts-label {
          .highcharts-label-box {
            text {
              color: white;

              .highcharts-text-outline {
                display: none;
              }
            }

            &.highcharts-tooltip-box {
              font-size: 90% !important;
              fill: $dark;
            }

            &.highcharts-tooltip {
              text {
                fill: $darker !important;

                tspan {
                  fill: $darker !important;
                }
              }
            }

            &.highcharts-point {
              .highcharts-label-box {
                stroke: $accent;
                fill: $accent;
              }
              
              text {
                color: white;
              }
            }
          }
        }
      }

      .qmodii-symbolookup {
        .qmodii-tab-content {
          height: auto;
        }
      }
      .v-btn {
        font-size: 100% !important;
        background-color: $dark !important;
        color: darken($text, 20) !important;
        border-radius: 8px;

        .v-btn__content {
          font-size: 100% !important;
          color: $lighter;

          .v-icon{
            color: $lighter;
          }
        }
        &.v-btn--floating:not(.v-btn--depressed):not(.v-btn--flat) {
          box-shadow: 0 3px 5px -1px rgb(37, 37, 37),0 6px 10px 0 rgb(53, 53, 53),0 1px 18px 0 rgb(53, 53, 53)
        }
        &:hover {
          background-color: lighten($dark, 20) !important;
          color: $text!important;
        }
        &.blue--text {
          &.text--darken-1 {
            color: $accent;
            font-weight: bold;
          }
        }
      }

      .v-input {
        font-size: 100% !important;
        color: $text;

        .v-input__control {
          .v-input__slot {

            &::before,
            &::after {
              border-width: 0;
            }

            .v-select__slot {
              border-radius: 6px;
              border: 2px solid $darker;
              background-color: $darker;
              min-height: 3em;

              .v-label {
                transform: translateY(-27px) scale(0.75);
                color: $primary !important;

                &.v-label--active {
                  color: $primary;
                }
              }
              .v-select__selections {
                background-color: $darker;
                border: 0px;

                .v-select__selection {
                  color: $lighter;
                  word-wrap: none;
                  white-space: nowrap;
                }
                
                span {
                  &.qmod-chips {
                    padding: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin: 3px;

                    &.primary {
                      background-color: $accent !important;
                    }
                  }
                }

                input {
                  display: none;
                }
              }

              .v-input__append-inner {
                background-color: $darker;

                .v-input__icon {
                  .v-icon {
                    background-color: $darker;
                    color: $lighter !important;
                  }
                }
              }
            }
          }
        }

        &.v-text-field {
          .v-label {
            left: 0px;
            right: auto;
            position: absolute;
            transform: translateY(-18px) scale(.75);
          }
        }
      }
      .v-dialog__content {
        .v-dialog {
          .qmodii-modal-content {
            .v-card {
              border-radius: 12px;

              &.v-sheet {
                background-color: $dark;

                .v-card__title {
                  .headline {
                    color: $text;
                  }
                }
                .v-card__text {
                  color: $text;
                }
                .v-card__actions {
                  color: $text;
                  background-color: $dark;
                }
              }
            }
          }
        }
      }
      .primary--text {
        color: $primary !important;
      }
    }
  }
  .flatpickr-calendar {
    border: 1px solid $light;

    .flatpickr-month {
      background-color: $background;
      color: $text;
      fill: $text;
    }
    .flatpickr-innerContainer {
      background: $background;

      .flatpickr-rContainer {
        .flatpickr-weekdays {
          background-color: $background;

          .flatpickr-weekday {
            background-color: $background;
            color: $text;
          }
        }
        .flatpickr-days {
          .dayContainer {
            .flatpickr-day {
              color: $text;

              &.prevMonthDay {
                color: $text;
              }
              &.selected {
                background: $accent;
                color: $lighter;

                &:hover {
                  background: $accent;
                  color: $lighter;
                  cursor: default;
                }
              }
              &.disabled {
                color: $light;
                background-color: $lighter;
              }
              &:hover {
                color: $lighter;
                background-color: $accent;
              }
            }
          }
        }
      }
    }
  }

  .material-icons:not(.v-tabs__icon) {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 4px;
    left: -2px;
  }

  .demo-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
    a,
    a:link,
    a:visited {
      color: $primary !important;
  
      &:hover {
        color: $accent !important;
      }

      &.btn {
        background-color: $darker !important;
        color: $lighter !important;
        border: 1px solid $lighter;
        border-radius: 4px;
        margin: 8px;
        height: auto;

        &:hover {
          background-color: $accent !important;
          color: $lighter !important;
        }
      }
    }
    input {
      color: $primary;
      border: 1px solid $text;
      border-radius: 4px;
    }
    #demo-preview-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      margin-top: 5rem;

      div {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;

        &.frame-container {
          border: 1px solid $primary;
          border-radius: 0 12px 12px 0;
          min-height: 600px;
          position: relative;
          z-index: 1;
          top: 0px;
          margin-left: 10px;

          .loader {
            position: absolute;
            top: 30%;
            left: 50%;
            display: block !important;
            background-color: $background;
            text-align: center;
          }

          .title {
            position: relative;
            color: $primary;
            z-index: 0;
            font-size: 90%;
            top: -100px;
            left: 0px;
            padding: 0px;
            border-radius: 8px;
            text-align: center;
            min-width: max-content;
            margin: auto;

            h1,
            h2,
            h3,
            h4 {
              font-size: 100% !important;

              a {
                color: $primary;
  
                &:hover {
                  text-decoration: underline;
                  color: $accent;
                }
              }
            }

            .smaller {
              color: $accent;
              font-size: 75%;
              display: block;
            }
          }
        }
      }
    }
    #qmod-dev-list {
      max-width: 300px;
      max-height: 380px;
      overflow: scroll;
      overflow-x: hidden;
      border: 1px solid $primary;
      border-radius: 12px;
      padding-top: 1em;
      padding-bottom: 1em;

      h5 {
        font-size: 120% !important;
        text-align: center;
        padding: 0;
        margin: 0;
        color: $accent;
      }

      ul {
        li {
          margin: 5px;
          padding: 0.5em;
          padding-left: 10px;
          border-radius: 3px;

          &:hover {
            background-color: $darker !important;
            cursor: pointer;

            a {
              color: $lighter !important;
            }
          }

          &.active {
            background-color: $accent;
            cursor: pointer;

            a {
              color: white !important;
              font-weight: bold;
            }
          }

          ul {
            li {
              padding: 3px;
              padding-left: 10px;
            }
          }
        }
      }
    }

    #set-style-link {
      a {
        font-size: 1em;
        margin-top: 1em;
        white-space: nowrap;
      }
    }

    #dev_form {
      top: 0px;
      margin-top: 1em;
      margin-bottom: 1em;

      .row {
        vertical-align: middle;

        &.shortcuts {
          .col {
            float: none;
            display: inline;
    
            a {
              text-align: center;
              vertical-align: middle;
            }
          }
        }

        .col {
          min-height: 100%;
          padding: 0;

          &:before,
          &:after {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            height: 100%;
          }

          select {
            min-height: 2.5rem;
            margin: 10px;
            padding: 0;
            padding-right: 10px;
            padding-bottom: 3px;
            border-radius: 8px;
            background-color: $accent;
            color: $primary;
          }
        }

        &.demo {
          .col {
            padding-right: 12px;
          }
        }
      }
    }
  }
  .ui-dialog {
    background-color: $background;

    &.ui-corner-all {
      border: 6px solid $darker;
      border-radius: 12px;
      padding: 0;

      .ui-dialog-titlebar {
        background-color: $background;

        span {
          color: $primary;
        }
      }
      #qmod_modal {
        background-color: $background;

        .modal-content {
          padding: 0;
          height: 100%;
          width: 100%;

          h4 {
            font-size: 85%;
            font-weight: bold;
            color: $primary;
          }
        }
      }
    }
  }

  #qsmodule-preview {
    width: 100%;
    height: 100%;
    border-radius: 0 12px 12px 0;
    border: none;
    position: absolute;
    top: 0px;
  }

  .loader,
  .loader:before,
  .loader:after {
    position: relative;
    top: 100px;
    background-color: $background;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: $primary;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}
