.qm-tool-wrap h1.qmod-heading.qmod-hbg,
.qm-tool-wrap h2.qmod-heading.qmod-hbg,
.qm-tool-wrap .qmod-ui-modal .qmod-ui-modal-titlebar,
.qm-tool-wrap .qmod-ui-modal .qmod-ui-modal-titlebar .qmod-ui-modal-title {
    background-color: #305465;
}

.qm-tool-wrap .qmod-heading.qmod-hbg, .qm-tool-wrap .qmod-fullnews .qmod-news-list {
    background-color: #000;
}

.qm-tool-wrap .qmod-heading.qmod-hbg,
.qm-tool-wrap .qmod-ui-modal .qmod-ui-modal-titlebar,
.qm-tool-wrap .qmod-ui-modal .qmod-ui-modal-titlebar .qmod-ui-modal-title {
    color: #fdfdfd;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.qm-tool-wrap .qmod-headline h4 { font-size: inherit; }

.qm-tool-wrap .qmod-ch-up {
    color: #418B47;
}

.qm-tool-wrap .qmod-ch-down {
    color: #BD3A3A;
}

.qm-tool-wrap .qmod-ui-tool,
.qm-tool-wrap .qmod-ui-tool a,
.qm-tool-wrap .qmod-ui-tool .qmod-button-group .qmod-btn,
.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-label,
.qm-tool-wrap .qmod-fullnews .dataTables_wrapper .dataTables_info,
.qm-tool-wrap .qmod-ui-tool div.dataTables_info,
.qm-tool-wrap .qmod-ui-tool a.previous,
.qm-tool-wrap .qmod-ui-modal, .qm-tool-wrap .qmod-trades-table td, .qm-tool-wrap .qmod-simplechart.qmod-ui-tool .qmod-chart-display .qmod-grow-input input[type="text"], .qm-tool-wrap .qmod-simplechart.qmod-ui-tool .qmod-chart-buttons-rs .qmod-grow-input input[type="text"] {
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-block-wrapper, .qm-tool-wrap .qmod-insiders table.dataTable tbody tr {
    background-color: #000;
}

.qm-tool-wrap a.qmod-dropdown_toggle, .qm-tool-wrap .qmod-dropdown-menu {
	background-color: #333;
}

.qm-tool-wrap .qmod-dropdown-menu li > a:hover, .qm-tool-wrap div.qmod-dropdown:hover .qmod-dropdown_toggle {
	background-color: #666;
}

.qm-tool-wrap .qmod-ui-tool .qmod-button-group .qmod-btn {
    color: #fdfdfd;
    background-color: #464646;
    border-color: #000;
    padding: 4px;
}

.qm-tool-wrap .qmod-ui-tool .qmod-button-group .qmod-btn-active {
    background-color: #305465;
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-button-group li {
    border: none;
}

.qm-tool-wrap .qmod-btn.qmod-paginator-next,
.qm-tool-wrap .qmod-btn.qmod-paginator-prev {
    background-color: #464646;
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-corpprofile .qmod-quotehead .qmod-pipe-sep,
.qm-tool-wrap .qmod-pricehistory h2 .qmod-btn {
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-fullnews .qmod-news-list li:nth-child(2n+0),
.qm-tool-wrap .qmod-fullnews .qmod-news-list li,
{
    background-color: #000;
}

.qm-tool-wrap .qmod-ui-tool input[type="text"],
.qm-tool-wrap .qmod-sec-filings .e_year:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown-menu,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown-menu,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown-menu {
    background-color: #303030;
    border-color: #646464;
}

.qm-tool-wrap .qmod-ui-tool input[type="text"],
.qm-tool-wrap .qmod-ui-tool .inner-addon i,
.qm-tool-wrap .qmod-sec-filings .e_year:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown-menu li a,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown-menu li a,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown-menu li a {
    padding: 5px 10px;
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-label,
.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-data-point {
    border-color: #464646;
}

.qm-tool-wrap .qmod-corpevents table.dataTable tbody tr,
.qm-tools .qmod-corpevents table.dataTable tbody tr {
    background-color: #000;
}

.qm-tool-wrap a.qmod-tooltip,
.qm-tool-wrap .qmod-corpevents .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.qm-tool-wrap .qmod-corpevents .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.qm-tool-wrap .qmod-corpevents .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.qm-tool-wrap .qmod-corpevents .dataTables_wrapper .dataTables_paginate .paginate_button,
.qm-tool-wrap .qmod-fullnews .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.qm-tool-wrap .qmod-fullnews .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.qm-tool-wrap .qmod-fullnews .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.qm-tool-wrap .qmod-earnings .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.qm-tool-wrap .qmod-earnings .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.qm-tool-wrap .qmod-earnings .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
    color: #fdfdfd !important;
}

.qm-tool-wrap .qmod-disclaimer .qmod_norealtime {
    color: #858585;
}

.qm-tool-wrap .qmod-corpevents table.dataTable tbody tr,
.qm-tool-wrap .qmod-analyst table.dataTable tbody tr,
.qm-tool-wrap .qmod-earnings table.dataTable tbody tr,
.qm-tool-wrap .qmod-sec-filings table.dataTable tbody tr,
.qm-tool-wrap .qmod-fullnews table.dataTable tbody tr,
.qm-tool-wrap .qmod-ui-modal {
    background-color: #000;
}

.qm-tool-wrap .qmod-btn,
.qm-tool-wrap .qmod-btn.qmod-darkblue,
.qm-tool-wrap .qmod-btn.qmod-green,
.qm-tool-wrap .qmod-btn.qmod-dark {
    padding: 5px 10px;
    border-bottom-width: 1px;
}

.qm-tool-wrap .qmod-ui-tool input[type="text"],
.qm-tool-wrap .qmod-sec-filings .e_year:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown:hover .qmod-dropdown_toggle,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown_toggle {
    border-width: 1px;
}

.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown-menu,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown-menu,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown-menu {
    border: none;
}

.qm-tool-wrap .qmod-sec-filings .e_year .qmod-dropdown-menu li a:hover,
.qm-tool-wrap .qmod-sec-filings .e_type .qmod-dropdown-menu li a:hover,
.qm-tool-wrap .qmod-corpevents .qmod-dropdown .qmod-dropdown-menu li a:hover {
    background-color: #305465;
}

.qm-tool-wrap .qmod-btn {
    border-color: #646464;
}

.qm-tool-wrap .qmod-ui-modal .qmod-ui-modal-titlebar {
    padding: 5px 20px;
}

.qm-tool-wrap .qmod-corpevents table.dataTable thead td,
.qm-tool-wrap .qmod-corpevents table.dataTable.no-footer,
.qm-tool-wrap .qmod-analyst table.dataTable thead th,
.qm-tool-wrap .qmod-analyst table.dataTable thead td,
.qm-tool-wrap .qmod-analyst table.dataTable.no-footer,
.qm-tool-wrap .qmod-earnings table.dataTable thead th,
.qm-tool-wrap .qmod-earnings table.dataTable thead td,
.qm-tool-wrap .qmod-earnings table.dataTable.no-footer,
.qm-tool-wrap .qmod-sec-filings table.dataTable thead th,
.qm-tool-wrap .qmod-sec-filings table.dataTable thead td,
.qm-tool-wrap .qmod-sec-filings table.dataTable.no-footer,
.qm-tool-wrap .qmod-fullnews table.dataTable thead th,
.qm-tool-wrap .qmod-fullnews table.dataTable thead td,
.qm-tool-wrap .qmod-fullnews table.dataTable.no-footer, 
.qm-tool-wrap .qmod-trades table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting_desc, .qm-tool-wrap .qmod-trades table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting_asc, .qm-tool-wrap .qmod-trades table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting:hover, .qm-tool-wrap .qmod-corpevents table.dataTable thead th, .qm-tool-wrap .qmod-corpevents table.dataTable thead td, .qm-tool-wrap .qmod-pricehistory table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting:hover, .qm-tool-wrap .qmod-pricehistory table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting_desc, .qm-tool-wrap .qmod-pricehistory table.qmod-table.dataTable.dtr-column > thead > tr > th.sorting_asc {
    border-color: #ccc;
}

.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-line-sep, .qm-tool-wrap .qmod-trades .qmod-table.qmod-trades-table.dataTable .qmod-trades-table-row, .qm-tool-wrap .qmod-fullnews .qmod-news-list li, .qm-tool-wrap .qmod-corpevents table.qmod-table.dataTable tr, .qm-tool-wrap .qmod-analyst table.qmod-table.dataTable tr, .qm-tool-wrap .qmod-earnings table.qmod-table.dataTable tr, .qm-tool-wrap .qmod-sec-filings table.qmod-table.dataTable tr, .qm-tool-wrap .qmod-pricehistory table.qmod-table.dataTable tr {
    border-color: #464646;
}

.qm-tool-wrap .qmod-trades table.dataTable tbody tr,
.qm-tool-wrap .qmod-pricehistory table.dataTable tbody tr,
.qm-tool-wrap .qmod-disclaimer .qmod-disclaimer-logo {
    background-color: #000;
}

.qm-tool-wrap .qmod-ui-tool .qmod-disclaimer .qmod-disclaimer-logo a {
    font-size: initial;
    color: #fdfdfd;
    font-family: inherit;
}

.qm-tool-wrap a.qmod-disc-link {
    font-size: 100%;
}

.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-data-point,
.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid .qmod-label {
    margin: 0;
}

.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid div.pure-g div.pure-u-1-2:nth-child(1) .qmod-box-wrap {
    margin-right: 10px;
}

.qm-tool-wrap .qmod-detailedquote .qmod-quotegrid div.pure-g div.pure-u-1-2:nth-child(2) .qmod-box-wrap {
    margin-left: 10px;
}

.qm-tool-wrap .qmod-simplechart .qmod-btn.qmod-btn-link {
    color: #ccc;
}

.qm-tool-wrap .qmod-shareinfo .qmod-quotehead .qmod-head-left {
    margin-left: 20px;
}

.qm-tool-wrap .qmod-shareinfo div.qmod-label, .qm-tool-wrap .qmod-shareinfo div.qmod-desc, .qm-tool-wrap .qmod-fullnews .qmod-modifiers, .qm-tool-wrap .qmod-fullnews .qmod-paginator, .qm-tool-wrap .qmod-si-pricechange div.pure-g, .qm-tool-wrap .qmod-si-shareinformation div.pure-g, .qm-tool-wrap .qmod-si-holdings div.pure-g, .qm-tool-wrap .qmod-analyst-rh #DataTables_Table_0_wrapper {
    padding: 5px 20px;
}

.qm-tool-wrap .qmod-shareinfo .qmod-chart-js > div {
    border: none;
}

.qm-tool-wrap .qmod-trades .dataTables_wrapper .dataTables_paginate .paginate_button, .qm-tool-wrap .qmod-earnings .dataTables_wrapper .dataTables_paginate .paginate_button, .qm-tool-wrap .ctpChart .highcharts-label div, .qm-tool-wrap .qmod-pricehistory .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fdfdfd !important;
}

.qm-tool-wrap .qmod-sec-filings .qmod-pager-cont .qmod-pager-item.qmod-pager-dots, .qm-tool-wrap .qmod-sec-filings .qmod-pager-cont .qmod-pager-item {
    background-color: #000;
    color: #fdfdfd;
}

.qm-tool-wrap .qmod-sec-filings .qmod-pager-cont .qmod-pager-item.qmod-pager-active {
    color: #333;
}

.qm-tool-wrap .qmod-fullnewsstory .qmod-titlebar-buttons .qmod-btn, .qm-tool-wrap .qmod-fullnews .qmod-titlebar-buttons .qmod-btn {
    background-color: #333;
    color: #fdfdfd;
    border-color: #999;
}